/*************************************
				Message
**************************************/

.RallyVerse .carousel-control { width:30px; text-shadow:0 0 0; background-color:transparent; background-image: none; color:#007da4; }
.RallyVerse .carousel-inner     { width:96%; margin: 0 auto; }
.message {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    width: 100%;
    height:280px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #dddddd;
    overflow: hidden;
    /* assets */
    /* content */
}

.message:before,
.message:after {
    content: " ";
    display: table;
}

.message:after {
    clear: both;
}

.message:before,
.message:after {
    content: " ";
    display: table;
}

.message:after {
    clear: both;
}

.message .video.embed-responsive {
    width: 280px;
}

.message .photo {
    height: 140px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    background-image: url('/WebApp/dist/images/deck/no-photo-md.png');
}

.message .photo .glyphicon-play-circle,
.message .photo .glyphicon-facetime-video {
    color: #FFF;
    font-size: 56px;
    top: 30%;
    left: 42%;
    opacity: .65;
}

.message .photo.layout-vert-1 {
    height: 400px;
    background-size: auto 400px!important;
}

.message .content {
    padding: 10px;
    color: #333333;
    background-color: #fff;
}

.message .content .text {
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    overflow: hidden;
    max-height: 140px;
    text-align: left;
}
.message .content .text .TextTitle {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message .content .text a {
    font-weight: normal;
}

.message .content .text .link {
    color: #428bca;
}

.message .content .bottom-bar {
    border-top: dotted 1px #999999;
    padding-top: 10px;
    min-height: 40px;
}

.message .attributes-bar {
    z-index: 10;
    min-height: 28px;
    font-size: 13px;
    padding: 5px 10px;
    border-top: solid 1px #ffffff;
}

.message .attributes-bar .score {
    text-align: center;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all .25s ease;
    transition-delay: 0.1s;
}

.message .attributes-bar .score .glyphicon {
    margin: 0 19px;
}

.message .attributes-bar .score .glyphicon-star {
    color: #f0ad4e;
}

.message .attributes-bar .score .glyphicon-star-empty {
    color: #cccccc;
}

.message .message-controls {
    z-index: 20;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .25s ease;
    transition-delay: 0.1s;
}

.message .message-controls:before,
.message .message-controls:after {
    content: " ";
    display: table;
}

.message .message-controls:after {
    clear: both;
}

.message .message-controls:before,
.message .message-controls:after {
    content: " ";
    display: table;
}

.message .message-controls:after {
    clear: both;
}

.message .message-controls .glyphicon {
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 6px;
    color: #FFF;
    border-radius: 50%;
    margin: 1px 10px;
}

.message .message-controls .glyphicon.disabled {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: default;
}

.message .message-controls .glyphicon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.message .message-controls .glyphicon-thumbs-up {
    background: #5cb85c;
}

.message .message-controls .glyphicon-thumbs-down {
    background: #f0ad4e;
}

.message .message-controls .glyphicon-trash {
    background: #d9534f;
}

.message .tags-bar,
.message .meta-bar {
    color: #333;
    padding: 4px 10px;
    font-size: 11px;
    border-top: 1px solid #ffffff;
        bottom: 0;
    position: fixed;
}

.message .tags-bar .logo-social-network.icon,
.message .meta-bar .logo-social-network.icon {
    margin-right: 5px;
}

.message .tags-bar .source-name,
.message .meta-bar .source-name {
    width: 100%;
    text-align: left;
}

.message .tags-bar {
    font-style: italic;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message .meta-bar:hover .source-name,
.message .meta-bar:hover .pub-date {
    color: #428bca;
}

.message .networks {
    float: left;
    width: 112px;
}

.message .networks img {
    cursor: pointer;
}

.message .schedTime {
    font-size: 12px;
}

.message:hover .message-controls {
    opacity: 1;
    filter: alpha(opacity=100);
}

.message:hover .attributes-bar .score {
    opacity: 0;
    filter: alpha(opacity=0);
}



/******************************************************
        Scheduled/List View Messages
******************************************************/

.list-view .message {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    width: 280px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #dddddd;
    /* assets */
    /* content */
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 6px solid #dddddd;
    border-top: 0px;
    padding: 10px 20px;
    width: 100%;
    margin: 0;
}

.list-view .message:before,
.list-view .message:after {
    content: " ";
    display: table;
}

.list-view .message:after {
    clear: both;
}

.list-view .message:before,
.list-view .message:after {
    content: " ";
    display: table;
}

.list-view .message:after {
    clear: both;
}

.list-view .message .video.embed-responsive {
    width: 280px;
}

.list-view .message .photo {
    height: 140px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    background-image: url('/WebApp/dist/images/deck/no-photo-md.png');
}

.list-view .message .photo .glyphicon-play-circle,
.list-view .message .photo .glyphicon-facetime-video {
    color: #FFF;
    font-size: 56px;
    top: 30%;
    left: 42%;
    opacity: .65;
}

.list-view .message .photo.layout-vert-1 {
    height: 400px;
    background-size: auto 400px!important;
}

.list-view .message .content {
    padding: 10px;
    color: #333333;
    background-color: #fff;
}

.list-view .message .content .text {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    overflow: hidden;
    max-height: 140px;
}

.list-view .message .content .text a {
    font-weight: normal;
}

.list-view .message .content .text .link {
    color: #428bca;
}

.list-view .message .content .bottom-bar {
    border-top: dotted 1px #999999;
    padding-top: 10px;
    min-height: 40px;
}

.list-view .message .attributes-bar {
    z-index: 10;
    min-height: 28px;
    font-size: 13px;
    padding: 5px 10px;
    border-top: solid 1px #ffffff;
}

.list-view .message .attributes-bar .score {
    text-align: center;
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all .25s ease;
    transition-delay: 0.1s;
}

.list-view .message .attributes-bar .score .glyphicon {
    margin: 0 19px;
}

.list-view .message .attributes-bar .score .glyphicon-star {
    color: #f0ad4e;
}

.list-view .message .attributes-bar .score .glyphicon-star-empty {
    color: #cccccc;
}

.list-view .message .message-controls {
    z-index: 20;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 2px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .25s ease;
    transition-delay: 0.1s;
}

.list-view .message .message-controls:before,
.list-view .message .message-controls:after {
    content: " ";
    display: table;
}

.list-view .message .message-controls:after {
    clear: both;
}

.list-view .message .message-controls:before,
.list-view .message .message-controls:after {
    content: " ";
    display: table;
}

.list-view .message .message-controls:after {
    clear: both;
}

.list-view .message .message-controls .glyphicon {
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 6px;
    color: #FFF;
    border-radius: 50%;
    margin: 1px 10px;
}

.list-view .message .message-controls .glyphicon.disabled {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: default;
}

.list-view .message .message-controls .glyphicon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.list-view .message .message-controls .glyphicon-thumbs-up {
    background: #5cb85c;
}

.list-view .message .message-controls .glyphicon-thumbs-down {
    background: #f0ad4e;
}

.list-view .message .message-controls .glyphicon-trash {
    background: #d9534f;
}

.list-view .message .tags-bar,
.list-view .message .meta-bar {
    color: #333;
    padding: 4px 10px;
    font-size: 11px;
    border-top: 1px solid #ffffff;
}

.list-view .message .tags-bar .logo-social-network.icon,
.list-view .message .meta-bar .logo-social-network.icon {
    margin-right: 5px;
}

.list-view .message .tags-bar .source-name,
.list-view .message .meta-bar .source-name {
    max-width: 150px;
    text-align: left;
}

.list-view .message .tags-bar {
    font-style: italic;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-view .message .meta-bar:hover .source-name,
.list-view .message .meta-bar:hover .pub-date {
    color: #428bca;
}

.list-view .message .networks {
    float: left;
    width: 112px;
}

.list-view .message .networks img {
    cursor: pointer;
}

.list-view .message .schedTime {
    font-size: 12px;
}

.list-view .message:before,
.list-view .message:after {
    content: " ";
    display: table;
}

.list-view .message:after {
    clear: both;
}

.list-view .message:before,
.list-view .message:after {
    content: " ";
    display: table;
}

.list-view .message:after {
    clear: both;
}

.list-view .message .text {
    font-weight: normal;
}

.list-view .message .text .link {
    color: #428bca;
}

.list-view .message .free-text {
    max-width: 100%;
    min-width: 600px;
    margin: 0 auto;
}

.list-view .message .free-text p {
    margin: 10px 0 0 0;
}

.list-view .message .video,
.list-view .message .photo,
.list-view .message .content {
    margin-top: 10px;
}

.list-view .message .video.embed-responsive {
    float: left;
    height: 105px;
    width: 200px;
}

.list-view .message .photo {
    background-size: cover;
    float: left;
    padding-bottom: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
}

.list-view .message .photo .glyphicon-facetime-video {
    font-size: 46px;
    top: 27%;
    left: 32%;
}

.list-view .message .content {
    padding: 0;
    float: left;
    max-width: 490px;
    min-width: 490px;
}

.list-view .message .content .title {
    font-family: "Bitter", Georgia, Times, serif !important;
    min-height: 68px;
    font-size: 14px;
    font-weight: bold;
}

.list-view .message .content .title a {
    color: #555555;
}

.list-view .message .content .title a:hover {
    color: #333333;
    text-decoration: underline;
}

.list-view .message .content .meta-bar {
    min-height: 24px;
    color: #999999;
    size: 12px;
    padding: 0px;
    margin-top: 8px;
    border-top: none;
}

.list-view .message .content .meta-bar .schedTime,
.list-view .message .content .meta-bar .pub-date,
.list-view .message .content .meta-bar .icon,
.list-view .message .content .meta-bar .source-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.list-view .message .content .meta-bar .social-networks {
    float: left !important;
}

.list-view .message .content .meta-bar .social-networks .logo-social-network {
    float: left !important;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.list-view .message .content .meta-bar .pub-date {
    float: right !important;
}

.list-view .message .content .meta-bar:hover {
    cursor: default;
}

.list-view .message .content .meta-bar:hover .schedTime,
.list-view .message .content .meta-bar:hover .pub-date,
.list-view .message .content .meta-bar:hover .source-name {
    color: #333333;
}

.list-view .message .schedule-item-info {
    clear: both;
    margin-bottom: 3px;
}

.list-view .message .schedule-item-info .tag {
    color: #999999;
}

.list-view .message .schedule-item-info .glyphicon-tags {
    width: 17px;
}

#hubs .singleCart .message.cart.ui-sortable-helper,
#lists .singleCart .message.cart.ui-sortable-helper {
    box-shadow: 0px 2px 5px #555555;
}

#lists .singleCart .list-header {
    border: 1px solid #dddddd;
    padding: 10px 20px 10px;
    background: #FFF;
}

#lists .singleCart .list-header button {
    margin-bottom: 5px;
}

#lists .singleCart .list-header h4 {
    font-family: "Bitter", Georgia, Times, serif !important;
    text-transform: capitalize;
}

#lists .singleCart .list-header .settings {
    margin-bottom: 10px;
}

#lists .singleCart .items-container {
    overflow: auto;
}

#lists .singleCart .remove-from-cart,
#lists .singleCart .edit-cart-item {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

#lists .singleCart .remove-from-cart {
    color: #d9534f;
}

#lists .singleCart .edit-cart-item {
    color: #f0ad4e;
}

#lists .singleCart .message.cart {
    border: 1px solid #dddddd;
    border-top: none;
}

#lists .singleCart .message.cart .stats {
    margin: 5px 0 0 0;
    color: #999999;
    font-size: 14px;
}

#lists .singleCart .message.cart .stats .ranking {
    float: left !important;
}

#lists .singleCart .message.cart .stats .clicks {
    float: right !important;
}

#lists .singleCart .message.cart .cart-controls {
    position: absolute;
    right: 1%;
    top: 40%;
    text-align: right;
    font-size: 20px;
    display: none;
}

#lists .singleCart .message.cart .link {
    color: #428bca;
}

#lists .singleCart .message.cart .annotation blockquote {
    display: block !important;
    visibility: visible !important;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

#lists .singleCart .message.cart .annotation blockquote.hidden {
    display: none !important;
    visibility: hidden !important;
}

#lists .singleCart .message.cart .annotation input {
    display: none !important;
    visibility: hidden !important;
    margin-top: 5px;
}

#lists .singleCart .message.cart .tracking-tags {
    color: #555555;
    font-size: 11px;
    margin-top: 5px;
}

#lists .lists-tabs {
    border-bottom: none;
    padding-right: 0;
}

#lists .lists-tabs li {
    min-height: 40px;
    margin: 0;
    border-right: none;
}

#lists .lists-tabs li .glyphicon {
    font-size: 20px;
    margin-top: 1px;
}

#lists .lists-tabs li .badge {
    padding: 2px;
    min-width: 15px;
    font-weight: normal;
    font-size: 11px;
    background-color: #5cb85c;
    position: absolute;
    top: 3px;
    right: auto;
}

#lists .singleCart.edit .message.cart .cart-controls {
    display: block;
}

#lists .singleCart.edit .message.cart .annotation blockquote {
    display: none !important;
    visibility: hidden !important;
}

#lists .singleCart.edit .message.cart .annotation input {
    display: block !important;
    visibility: visible !important;
}

#lists .singleCart.edit .hub-tools {
    display: block !important;
    visibility: visible !important;
}

#lists-container {
    padding-left: 0;
}



/******************************
        Custom Icons
******************************/


/* social/custom icons */

.source-name {
    vertical-align: top;
    margin-bottom: 2px;
}

.source-name .glyphicon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}





/******************************
        	Logos
******************************/

.logo-social-network,
.logo-social-network:active,
.logo-social-network:hover {
    background-image: url('/WebApp/dist/images/ui/social-networks/social-network-sprite.png');
    background-repeat: no-repeat no-repeat;
    background-position: 0% 0;
    background-size: cover;
    background-color: transparent;
}

.logo-social-network.icon {
    width: 15px;
    height: 15px;
}

.logo-social-network.full {
    width: 60px;
    height: 60px;
}

.logo-social-network.logo-facebook {
    background-position: 0% 0;
    background-color: #3b5998;
}

.logo-social-network.logo-twitter {
    background-position: 11.11111111% 0;
    background-color: #00aced;
}

.logo-social-network.logo-linkedin {
    background-position: 22.22222222% 0;
    background-color: #007bb6;
}

.logo-social-network.logo-tumblr {
    background-position: 33.33333333% 0;
    background-color: #2c4762;
}

.logo-social-network.logo-gplus {
    background-position: 44.44444444% 0;
    background-color: #dd4b39;
}

.logo-social-network.logo-instagram {
    background-position: 77.77777778% 0;
    background-color: #125688;
}

.logo-social-network.logo-wordpress {
    background-position: 100% 0;
    background-color: #21759b;
}

.logo-social-network.off {
    background-color: #999999 !important;
}

.logo-social-network.disabled {
    background-color: #999999 !important;
    cursor: not-allowed;
    opacity: 1;
}

.logo-social-network.logo-rallyverse {
    background-position: 55.55555556% 0;
}

.logo-social-network.logo-youtube {
    background-position: 66.66666667% 0;
}

.logo-social-network.logo-slideshare {
    background-position: 88.88888889% 0;
}

.logo-social-network.logo-rallyverse.off,
.logo-social-network.logo-youtube.off,
.logo-social-network.logo-slideshare.off {
    background-image: url('/WebApp/dist/images/ui/social-networks/social-network-sprite-off.png');
    background-color: transparent !important;
}

.logo-social-network.logo-rallyverse.off {
    background-position: 55.55555556% 0;
}

.logo-social-network.logo-youtube.off {
    background-position: 66.66666667% 0;
}

.logo-social-network.logo-instagram.off {
    background-position: 77.77777778% 0;
}

.logo-social-network.logo-slideshare.off {
    background-position: 88.88888889% 0;
}

#messages {
    width: 100%;
    position: relative;
    margin: 0;
    overflow: visible !important;
}

.message .photo {
    background-size: cover!important;
}


/* share */

.message .social-sharing {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    opacity: 0;
    transition: all .1s ease-out;
    transition-delay: .1s
}

.message:hover .social-sharing {
    opacity: 1;
}

.share {
    padding: 5px 0;
    height: 40px;
    width: 25%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    opacity: .5;
    transition: all .1s ease-out;
}

.share:hover {
    opacity: 1;
}

.share-tw {
    background-color: #00ACED;
}

.share-fb {
    background-color: #3B5B99;
}

.share-li {
    background-color: #00769E;
}

.share-gplus {
    background-color: #DD4C39;
}


/*.share-email {background-color:#E9A01C;padding:10px 0;}*/

.share img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.share.share-fb img {
    width: 16px;
}

.share.share-gplus img {
    width: 38px;
}


/*.share.share-email img{width:24px;height:16px;}*/
