/* --------------------------- Profile Style ---------------------------------- */
.UserProfileBox                                         { padding: 10px 20px;}
.UserProfileLang                                        { padding: 10px 0; }
.UserProfileLang .IconFlag                              {  }
.UserProfileBox .Lang                                   { padding:0 10px; font-size: 14px; font-weight: bold; line-height: 14px; }
.UserProfileImage                                       { display: inline-block; float: left; }
.UserProfileImage img                                   { border-radius: 50%; height:80px; width: 80px; }

.UserProfileDetails                                     { display: inline-block; float: left; padding: 10px 0 10px 10px; width: 156px; }
.UserProfileNew                                         { font-size: 16px; font-weight: bold; padding:0 0 5px 0;  line-height: 16px; min-height: 22px; }
.UserProfileDesignation                                 { font-size: 12px; padding:0 0 5px 0; color:#777; min-height: 22px;/**/ }
.UserProfileEdit                                        { border-top: 1px solid #e7e7e7; padding: 5px 0; }
.UserProfileFooter                                      { border-top: 1px solid #e7e7e7; padding:10px; background-color:#f9f9f9; }
.UserProfileFooter a                                    { color: #007da4; font-size:14px; }
.navbar-nav .UserProfile.open .dropdown-menu            { width: 300px; right: -14px; }
/* --------------------------- ButtonSection Style ---------------------------------- */
.ButtonSection.ProfileButton .btn                       {  }
.ButtonSection .btn                                     { margin-right:10px; }
.btn-danger, .btn-default, .btn-info,
.btn-primary, .btn-success, .btn-warning                { background-image:none;  box-shadow: 0 0 0; text-shadow: 0 0 0; }
.btn-white                                              { background-color: #fff; border-color: #007da4; color: #007da4; }
.btn-primary						{background-color:#007da4 !important;border-color: #007da4;opacity: initial !important;}
.btn-secondary						{background-color:#fff !important; border-color: #007da4; color:#007da4; }
.IframeBtn                                              { vertical-align: top; position: absolute; float:left; }
.btn .caret                                             { margin-left: 3px; }
/* --------------------------- Bar Chart Style ---------------------------------- */
.Heading2 h2, .Heading2.HeadingFloat h2                 { color: #006450; font-size: 16px; font-weight:bold; margin-top:10px;  display: inline-block; }
.Heading2.HeadingFloat                                  { clear: both; }
.Heading2.HeadingFloat h2                               { float: left; display: inline-block; }
.Heading2.First h2                                      { margin-top:0; }
.Heading2.Open                                          { padding:0 15px; }
.Heading2.HeadingFloat span.Link                        { display: inline-block; padding: 10px 0;font-size:14px; }
.HeaderLink                                             { padding: 0 20px; }
.HeaderLink a                                           { padding: 8px 0; display:inline-block; font-size: 14px; }
/* --------------------------- Bar Chart Style ---------------------------------- */
.chart-bar                                              { width:100% !important; height:100% !important; max-width:540px; display: block; margin: 0 auto; }
.chart-pie                                              {width: 80% !important;     height: 100% !important; margin-left: 10% !important; }
/* --------------------------- Doughnut Chart Style ---------------------------------- */
.DoughnutChart section                                  { width:20% !important; height:130px !important; float: left; margin:53px 0; padding:0;  }
.DoughnutChart section label                            { width: 100%; text-align: center; padding-top: 20px; }
.DoughnutChart .chart 							        { position: relative; display: inline-block; width:100%; height:100%; text-align: center; }
.DoughnutChart .chart canvas 					        { position: absolute; top: 0; left: 0; }
.DoughnutChart .percent 						        { display: inline-block; position: relative; top: 30%; z-index: 2; font-size: 16px; font-weight: bold; text-align: center;}
.DoughnutChart .percent:after 					        { content: '%'; margin-left: 0.1em; font-size: 16px; font-weight: bold; }
.DoughnutChart canvas                                   { width:100% !important; }
/* --------------------------- Doughnut Chart Style ---------------------------------- */


/* --------------------------- Insight Thumbnail Style ---------------------------------- */
.InsightsBox                                            { background-color:#fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);}
.InsightThumbnail .thumbnail                            { padding: 0;}
.InsightThumbnail .caption                              { background-color: #f5f5f5; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); padding: 3px 9px; }
.InsightThumbnail .caption h5                           { padding: 5px 9px; font-size: 14px; font-weight: bold; border-left:3px solid #568e30; min-height: 56px; }
.InsightThumbnail .ShareDetails                         { padding: 9px; }
.InsightThumbnail .ShareDetails .InsightName            { display: inline-block; float: left; font-weight: bold; color: #777777; padding: 5px 0 10px 0; }
.InsightThumbnail .ShareDetails .InsightDate            { display: inline-block; float: right; font-weight: bold; color: #777777; padding: 5px 0 10px 0; }
.InsightThumbnail .ShareDetails .InsightTags            { display: inline-block; float: left; font-weight: bold; color: #506470; padding: 5px 0; }
.InsightThumbnail .ShareDetails .InsightShare           { display: inline-block; float: right; font-size: 16px; color: #007da4; background-color: #fff; border:3px solid #0a7fc9; border-radius: 50%; padding:6px 8px; width: 40px; height: 40px;  }

/* --------------------------- Table List Style ---------------------------------- */
.table-striped                                          { border:1px solid #e6e9ed; margin-bottom:0;  min-height:77px; background-color:#fff; }
.table-striped a:hover                                  { text-decoration: none; }
.table-striped.table > thead > tr > th                  { border-bottom:1px solid #e6e9ed; padding:12px 8px; white-space: nowrap; font-size: 12px; font-weight: bold; }
.table-striped.table > tbody > tr > td                  { vertical-align: middle; }
.table-striped thead                                    { background-image: linear-gradient(to bottom, #fbfbfb 0%, #fafafa 100%); }
.table-striped > tbody > tr:nth-of-type(2n)             { background-color: #f9f9f9; }
.table-striped > tbody > tr:nth-of-type(2n+1)           { background-color: #fff; }
.table-striped > tbody > tr td:nth-child(2) .TblResources,
.table-striped > tbody > tr td .TblDays,
.TblRequisition                                         { padding: 3px; vertical-align: middle; }
.table-striped > tbody > tr td:nth-child(2) .TblResources { background-color: #fff; border:1px solid #0a7fc9; border-radius:50%; color:#0a7fc9; font-size: 16px; width: 30px; height: 30px; padding: 2px; text-align: center; }
.table-striped > tbody > tr td .TblDays      { border-radius:4px; color:#fff;  padding:2px; font-size:12px; font-weight:normal; text-align: center; }
.TblRequisition                                         { padding:0; text-align:left; }
.TblRequisition a                                       { font-size:14px; line-height: 16px; display: block; }
.TblRequisition span                                    { color: #000; }
.TblDate                                                { color: #919191; }
.st-selected                                            { background-color: #337ab7 !important; color: #fefefe; }
.preloader                                              { padding: 50px; background: url('../images/preloader.gif') no-repeat 50% 50% transparent; }
.SortDefault:before,
.st-sort-ascent:before,
.st-sort-descent:before                                 { color:#333; font-family: FontAwesome; border:0; font-size: 10px; line-height:10px; padding:0 5px 0 0; }
.SortDefault:before                                     { content: "\f0dc"; }
.st-sort-ascent:before                                  { content: '\25B2'; }
.st-sort-descent:before                                 { content: '\25BC'; }
.table-striped tr th input[type=checkbox],
.table-striped tr td input[type=checkbox]               { margin-top:0; vertical-align: middle; }
/* --------------------------- AgingRequisitionTable Style ---------------------------------- */
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(6),
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(7),
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(8),
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(9),
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(10)             { color:#333; font-size: 16px; text-align: center; }
.AgingRequisitionTable .table-striped > tbody > tr td:nth-child(11)             { color:#333; font-size: 16px; text-align: center; }
.AgingRequisitionTable .table-striped                   { min-height: 293px; }
/* --------------------------- RequisitionTable Style ---------------------------------- */
.RequisitionTable .table-striped > tbody > tr td:nth-child(7),
.RequisitionTable .table-striped > tbody > tr td:nth-child(8),
.RequisitionTable .table-striped > tbody > tr td:nth-child(9),
.RequisitionTable .table-striped > tbody > tr td:nth-child(10),
.RequisitionTable .table-striped > tbody > tr td:nth-child(11)             { color:#333; font-size: 16px; text-align: center; }
.RequisitionTable .table-striped > tbody > tr td:nth-child(12)             { color:#000; font-size: 18px; text-align: center; }
.RequisitionTable .table-striped                        { min-height: 300px; }
/* --------------------------- EngagementRequisitionTable Style ---------------------------------- */
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(6),
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(7),
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(8),
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(9),
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(10)             { color:#333; font-size: 16px; text-align: center; }
.EngagementRequisitionTable .table-striped > tbody > tr td:nth-child(11)             { color:#000; font-size: 18px; text-align: center; }

/* --------------------------- Table Grid DataGridBox Style ---------------------------------- */
.DataGrid							{ display:none; }
.DataGridBox                                            { border:1px solid #e3e3e3; border-width:0 1px 1px 1px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); margin-bottom: 15px;}
.DataGrid h4                                            { padding:0 15px;}
.DataGridHeader                                         { background-image:linear-gradient(to bottom, #f9fcf7 0%, #f5f9f0 100%); background-color:none;  border-top: 2px solid #106550; color: #106550;  padding: 10px; }
.DGHeaderLeft                                           { width:80%; float:left; }
.DGHeaderRight                                          { width:20%; float:right; }
.DataGridContent                                        { background-color: #fff; padding: 10px; }
.DGContentLeft                                          { width:50%; float:left; }
.DGContentRight                                         { width:50%; float:right; }
.DGRequisition a                                        { font-size:18px; font-weight: bold; }
.DGRequisition span                                     { color:#333; }
.DGDate                                                 { color:#aaa; }
.DGResources                                            { background-color:#fff;  border: 3px solid #0a7fc9; text-align: center; border-radius: 50%; padding: 5px; width:35px; height:35px; font-size:18px; font-weight:bold; color:#0a7fc9; line-height:20px; margin:0 5px 20px 0; float: right; }
.DGDays                                                 { float: right; margin:2px 5px 0 0; font-size: 16px; line-height: 16px;  }
.Action                                                 { background-color:#eee; border:1px solid #ccc; display: inline-block; width:45px; position: absolute; top:10px; right:25px; font-size:16px; border-radius:5px; }
.Action .Pin, .Action .Close                             { padding:0 5px; display:inline-block; text-align: center;  }
.Action .Pin                                             { color:#ccc; }
.Action .Close                                           { color:#f00; }
.DGRequisition                                           { min-height: 60px; }
.DGCompanyName                                           { font-size:16px; font-weight: bold; line-height:16px; }
.DGCompanyTitle                                          { font-size:14px; line-height:14px; padding:5px 0; }
.DGStatus                                                { background-color:#8cc152; border:1px solid #ccc; border-radius:5px; width:80px; font-size:14px; line-height:14px; font-weight: bold; padding:3px 0; color:#fff; text-align: center; float: right; }
.DGSearch                                                { float: right; margin-top: 15px; min-width: 110px; padding: 3px 0 0; text-align: right; }
.DataGridFooter                                          { background-color: #fff; border-top:1px solid #ccc; padding:10px 0 5px 0; }
.DGInterviewStatus                                       { list-style: none; }
.DGInterviewStatus li                                    { display: inline-block; float: left; width: 20%; text-align: center; }
.DGInterviewStatus li .DGInterviewStatusNo               { background-color: #f3f3f3; width:40px; height:40px; border: 1px solid #ccc; font-size: 18px; line-height: 24px; margin:5px auto 0 auto; padding: 5px; }
/* --------------------------- Events Style ---------------------------------- */
.UpcomingEvents h4                                       { margin-top: 0; color: #106550; }
.Events                                                  { width: 100%; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); color: #FFF; padding: 10px 10px; margin-bottom:15px;  background-color: #edf1f2; }
.EventsDate                                              { float: left; min-width:50px; height: 50px; width:20%; border-right:1px solid #e4e9eb; color:#cd3e06; font-size:30px; line-height:30px;   }
.EventsDate span                                         { color:#333; font-size:18px; display: block; line-height: 18px; text-transform: uppercase;  }
.EventsNote                                              { float: left; width:80%; text-align: left; font-size: 16px; font-weight: 600; margin-bottom: 5px; line-height: 20px; color:#333; padding-left:10px; }
.EventsInfo                                              { float: left; width:80%; padding-left:10px; }
.EventsInfo .EventsNote                                  { float:none; text-align: left; font-size: 16px; font-weight: 600; margin-bottom: 5px; line-height: 20px; color:#333; padding-left:0; }

.EventsTime                                              { font-size: 12px; font-weight: 400; margin-bottom: 5px; line-height: 12px; color: #ccc; }
.EventsFooter                                             {  border-top:1px solid #e4e9eb; margin-top:10px; }
.EventsFooterContent                                      { width:70%; float: left; }
.EventLocation                                            { font-size: 12px; font-weight: 400; margin: 5px 0; line-height: 12px; color: #333; }
.EventsShare                                              { width:30%; display: inline-block; float:right; }
.EventsShare ul                                           { margin-bottom: 0; }
.EventsShare ul li                                        { float: left; display: inline-block; }
.EventsShare ul li a                                      { padding:10px 5px 5px 5px; display:block; font-size: 16px; }
.EventsPending                                            { padding:10px 10px 0 10px; font-size: 16px; font-weight:bold; color:#333; }
/* --------------------------- Events Style ---------------------------------- */
.HotCandidates h4                                         { margin-top: 0;}
.HotCandidatesList                                        { width: 100%; color: #FFF; padding: 10px 10px; min-height: 120px; border-bottom: 1px solid #edf1f2; }
.CandidatesPhoto                                          { float: left; height: 60px; min-width: 60px; width:25%; }
.CandidatesPhoto > img                                    { border-radius: 60px; }
.CandidatesContent                                        { width:75%; float: right; padding:5px 0 0 15px; }
.CandidatesName                                              { text-align: left; font-size: 16px; font-weight: 600; margin-bottom: 5px; line-height: 16px; color:#333; }
.CandidatesDesignation                                    { text-align: left; font-size:14px; margin-bottom: 5px; line-height: 14px; color:#333; }
.CandidatesRating .progress                               { height: 6px; margin-bottom: 5px;}
.CandidatesRating  .progress-bar                          { background-color: #ff8300; }
.CandidatesMail, .CandidatesPhone                          { margin: 5px 0; color: #333; }
.CandidatesMail i, .CandidatesPhone i                      { width:60px; height:20px; margin-right: 20px; font-size: 16px; text-align: center; }
/* --------------------------- Term Sorting Style ---------------------------------- */
.TermSorting                                              { }
.TermSorting ul                                           { }
.TermSorting ul li                                        { display: inline-block; float: left; margin:0 5px; }
.TermSorting ul li a                                      { padding:5px; border-radius: 5px; background-color:#d7d7d7; color:#333; font-size: 12px; font-weight: normal; display: block; }
.TermSorting ul li a:active, .TermSorting ul li a.active  { background-color:#007da4; color:#fff; }
.TermSorting ul li:last-child                             { border-left:1px solid #ccc;}
.TermSorting ul li select                                 { color:#333; font-size: 12px; font-weight: normal; padding:3px 5px; border:1px solid #ccc;background-image: linear-gradient(to bottom, #fbfbfb 0%, #fafafa 100%); background-color: transparent;
    border: 0px; }
/* --------------------------- SearchBox Style ---------------------------------- */
.SearchBox                                                {  }
.SearchBox label                                          { display: block; }
.DatePicker .input-group .input-group-btn .btn.btn-default{ padding:5px 6px 5px 6px; background-color:transparent; border-radius:0; border-width:0 0 1px 0; background-image:none;  box-shadow:0 0 0; margin-top: -1px; }

.RadioGroup                                               { margin-top: 7px;}
.RadioGroup .btn-group .btn                               { padding: 6px 9px; }
.RadioGroup .btn-default.active,
.RadioGroup .btn-default:active                           {}
.RadioGroup .btn-default                                  { background-image:none; border-color: #66b1c8; border-width:1px 0; text-shadow:0 0; }
.RadioGroup .btn-group label:first-child.btn-default      { border-width:1px 0 1px 1px; }
.RadioGroup .btn-group label:last-child.btn-default       { border-width:1px 1px 1px 0; }
.RadioGroup .btn-default:focus,
.RadioGroup .btn-default:hover                            { background-color:transparent; border-color: #66b1c8; }
.RadioGroup .btn-default.active,
.RadioGroup .btn-default:active                           { background-color: #66b1c8; color:#fff; }
.SearchRadioGroup .btn-group                              { width:100%; display: block; }
.TermSorting .RadioGroup .btn-group .btn                  { padding:3px 9px; }
/* --------------------------- DataGridBoxList Style ---------------------------------- */
.DataGridBoxList                                        { list-style:none; }
/* --------------------------- HeaderPaging Style ---------------------------------- */
.HeaderPaging                                           {}
.HeaderPaging ul.pager                                  { margin:0; }
.HeaderPaging .pager li > a                             { background-color:#007da4; color:#fff; font-family: FontAwesome; border:0; font-size: 10px; line-height:10px; }
.HeaderPaging .pager li.previous > a                    { padding:6px 9px 6px 7px; }
.HeaderPaging .pager li.next > a                        { padding:6px 8px; }
.HeaderPaging .pager li.CurrentPage > span,
.HeaderPaging .pager li.TotalPage > span,
.HeaderPaging .pager li.TotalList > span                { background-color:transparent; color:#333; border:0; font-size: 14px; line-height:12px;  }
.HeaderPaging .pager li.CurrentPage > span              { padding:5px 0 5px 10px; }
.HeaderPaging .pager li.TotalPage > span                { padding:5px 10px 5px 0; }
.HeaderPaging .pager li.TotalList > span                { padding:5px 5px 5px 0; }
/* --------------------------- ViewBoxHeader Style ---------------------------------- */
.ViewBoxHeader                                          { border-bottom:1px solid #dad8d6; padding-bottom:10px; margin-bottom:10px; }
.ViewBoxList, .ViewBoxActions                           { list-style:none; }
.PrimaryHeader                                          { width:82%; display:inline-block; float: left; padding: 10px 0;}
.PrimaryHeader a, .SecondaryHeader a                    { font-size:14px; font-weight: bold; line-height: 14px; }
.SecondaryHeader a                                     {font-weight:normal !important;}
.PrimaryHeader span, .SecondaryHeader span              { color:#333; }
.ViewBoxDate                                            { color:#aaa; padding: 11px 0; display:inline-block; float: left; }
.ViewBoxCount                                           { background-color:#fff;  border:1px solid #0a7fc9; text-align: center; border-radius: 50%; padding:6px 0px; width:35px; height:35px; font-size:18px; line-height: 18px; color:#0a7fc9; line-height:20px; float: right; }
.ViewBoxDays                                            { border:1px solid #ccc; border-radius:5px; width:70px; font-size:14px; line-height:14px; padding:3px 0; color:#fff; text-align: center; float: right; margin: 8px 0;  }
.ViewBoxActions                                         {  display: inline-block; float: right; margin: 3px 0; }
.ViewBoxActions li                                      {  display: inline-block; float: left; border-right:1px solid #f3f3f3; }
.ViewBoxActions li:last-child                           { border-right:0; }
.ViewBoxActions li:last-child a                         { border-right:0; padding-right:5px; }
.ViewBoxActions li a                                    { display: inline-block; font-size:16px; text-align: center; padding:5px 14px; line-height:16px; }
.ViewBoxCompanyName, .ViewBoxFinalStatus,
.ViewBoxName                                            { color: #333; font-size: 14px; font-weight: bold;  padding: 5px 0; line-height:14px; }
.ViewBoxCompanyLocation,
.ViewBoxDesignation                                     { color: #333; font-size: 12px; padding: 5px 0; line-height:12px; }
.ViewBoxHeadName                                        { color: #666; font-size: 16px; padding: 5px 0; line-height:16px; }
.ViewBoxImage                                           { display: inline-block; float: left; }
.ViewBoxImage img                                       { width:50px; height:50px; border:2px solid #106550; border-radius:25px; }
.ViewBoxTeamImg                                         { display: inline-block; float: left; }
.ViewBoxTeamImg img                                     { width:25px; height:25px; border:2px solid #106550; border-radius:25px; }
.ViewBoxInfo                                            { display: inline-block; float: left; padding:0 5px; }
.SecondaryHeader                                        { padding: 5px 0; }
.ViewBoxRight                                           { border-left:1px solid #dad8d6; }

.ViewDropBox                                            { min-width: 230px; }
.ViewDropBox .dropdown-menu > li > a                    { padding: 5px 10px; }
.ViewDropInfo                                            { display: inline-block; float: left; padding:0 5px; }
.ViewDropName                                           { color: #333; font-size: 14px; font-weight: bold;  padding: 5px 0; line-height:14px; }
.ViewBoxCompanyLocation,
.ViewDropDesignation                                    { color: #333; font-size: 12px; padding: 5px 0; line-height:12px; }
.ViewDropImage                                          { display: inline-block; float: left; }
.ViewDropImage img                                       { width:40px; height:40px; border:2px solid #106550; border-radius:25px; }
.ViewBoxInfo                                            { display: inline-block; float: left; padding:0 5px; }
.SecondaryHeader                                        { padding: 5px 0; }
.ViewBoxRight                                           { border-left:1px solid #dad8d6; }
.ViewBoxStatus                                           { display: inline-block; float: left; padding: 6px 10px; }
.ViewBoxStatus select                                   { color:#333; font-size: 12px; font-weight: normal; padding:3px 5px; border:1px solid #ccc;  }
.ViewBoxHire                                            { margin-top:-26px; }
.HireValue                                              { background-color:#fffcac; font-size:14px; padding:6px 12px; }
.HireStatus                                             { background-color:#fffcac; margin-left: 2px; font-size:14px; margin-left:2px; padding:6px; }
.HireStatus i                                           { font-size:12px; color: #ff0000;  }
.ViewBoxBtn                                             { display: inline-block; float: left; padding-left: 25px;}
/* --------------------------- WidgetPD Style ---------------------------------- */
.WidgetPD ul li                                         { display: inline-block; float: left; }
.WidgetPDHeader,
.WidgetPDContent,
.WidgetPDFooter                                         { width: 100%;  }
.WidgetPDContent                                        { cursor: pointer; }
.WidgetPDBox                                            { max-width: 240px;  padding: 0 15px; min-height: 240px;}
.HeaderButton                                           { padding: 0 15px 8px;  }
.HeaderButton a i                                       { font-size: 20px; }
.WidgetPDHeader > label                                 { vertical-align: middle; font-size:14px; }
.WidgetPDFooter                                         { padding: 5px 10px; font-size:14px; color:#0c80c9; height: 50px; text-overflow: ellipsis; overflow: hidden; }
.HeaderPaging                                           { padding: 5px 0 0; }
.WidgetJP .WidgetPDBox                                  { min-height: 170px; }
.WidgetJP .WidgetPDHeader > label                       { vertical-align: baseline; }
.tab-content                                            { background-color: #fff; margin:0 15px; padding:15px 0;  }
.nav-tabs                                               { margin:0 14px; }
.KFLayout .nav-tabs                                     { margin:0 -1px; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover                         { border-radius:0; }
.dropdown-menu                                          { margin:0; }
.dropdown-menu > li > a                                 { padding:5px 20px;}
.WidgetPD                                               { min-height: 300px; }
.SecondaryTab .tab-content                              { margin: 0; padding:0; }
.SecondaryTab .tab-content .WidgetProfile               { border-width: 0 1px 1px 1px; }

/* --------------------------- WidgetPD Style ---------------------------------- */
.Popover button:before                                  { color:#007da4; font-family: FontAwesome; border:0; font-size: 16px; line-height:16px; content: "\f012";}
.popover                                                {top: 46px !important; display: block !important; max-width: 536px !important;     font-size: 12px;}
.popover.left>.arrow                                    {left: 96% !important; top: -11px !important;margin-left: -11px !important;border-top-width: 0 !important;border-bottom-color: #999 !important;border-bottom-color: rgba(0, 0, 0, .25) !important;margin-top: 0px;border-right-width: 10px;border-right-color: rgba(255,255,255,0.25);border-left-color: #999;border-left-color: rgba(255,255,255,0.25);}
.popover.left>.arrow:after                              {top: 2px !important;margin-left: -10px !important;content: " " !important;border-top-width: 0 !important;border-bottom-color: #fff !important;border-right-width: 10px;border-right-color: rgba(255,255,255,0.25);border-left-color: rgba(255,255,255,0.25);right: -10px;}
.popover.left                                           {margin-left: 50px; }
.close-icon                                             {margin: 7px 0px;color: #00c2ff;font-size: 1.2em; margin-right: -20px;}
.popupImg												{margin: 4px 0px;}
.popupDiv input	                                        {margin-right: 3px;}
.popover.bottom                                         { margin-top:0; }
.profileDiv                                             { width: 100%; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); padding: 10px 10px; margin-bottom:15px;  background-color: #edf1f2; }
.CheckBoxSelect                                         { padding: 6px 5px; }
.CheckBoxSelect input                                   { float: left; }
.CheckBoxSelect label.CheckBoxLable                     { float: left; text-indent: 17px; margin-top:-15px }
.popupImg                                               { margin-top:3px; }
/* --------------------------- FloatingNav Style ---------------------------------- */
.FloatingNav 											{ right: 0; top: 300px; position: fixed; border-radius:8px; }
.modal-content											{ padding: 15px; }
.modal-content .modal-header 							{}
.modal-title											{ width: 93%; float: left; }
.icons													{ border: 1px solid #9E9E9E; border-radius: 50%; padding:17px; margin: 23px 11px 20px 0px; background-color: #fff; }
.popup:after											{  background-color: #3aa204; border: 1px solid #3aa204; border-radius:50%; height: 15px; width: 15px; position: relative; bottom: 45px; left: 77px;	 }
.online													{ width: 35%; float: left; margin-top: 60px; margin-left: -49px; color: #3aa204; }
.rdNav 													{ width: 4%;float: left;margin-left: 14px;padding-top: 13px;color: white;margin-right: 25px;}
.navbar-header											{ border-right: 1px solid silver;}
.navbar-default .navbar-nav > li  > img					{ position: absolute;top: 21px;right: 0px;}
/* --------------------------- jobDetails Style ---------------------------------- */
.jobDetails												{ background-color: #fff; box-shadow: 0px 0px 2px #888888;     height: 312px; }

.jobWeightagerow										{ background-color: #fff; box-shadow: 0px 0px 2px #888888; }
.btn-screened							                {  background-color:#6cce22 !important;width:28% !important;}
.btn-changestatus                                       {height:35px;font-size:13px;}
.btn-konferry											{  border-radius: 2px; height: 44px; width: 100px; text-align: center; padding: 11px; font-size: 15px; }
.btn-save												{ color: #fff !important; background-color: #007da4; border-color: #007da4; margin-right: 15px; }
.btn-cancel												{ color: #007da4 !important; background-color: #fff; border-color: #007da4; }
.jobspan												{ float: left; font-weight: bold; margin: 6px 5px; font-size: 17px; }
.jobUl													{ list-style-type: none; padding: 0px; border: 1px solid #86c6da; width: 90%; margin-top: 15px; }
.jobLi													{ display: inline-block; padding: 7px 8px; width: 32%; text-align: center; }
#ex1Slider .slider-selection 							{ background: #BABABA; }
input[type="range"]										{ -webkit-appearance: none; width:75%; -moz-apperance: none; border-radius: 6px; height: 13px; background-image: -webkit-gradient( 	linear, left top, right top, color-stop(0.15, #86c6da), color-stop(0.15, #dcdada) ); margin:10px 0px; }
input[type='range']::-webkit-slider-thumb 				{ -webkit-appearance: none !important; background-color: #036685; border: 1px solid #036685; border-radius:50%; height: 15px; width: 15px; }
.jobDetails input[type="range"]							{ background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.5, rgb(134, 198, 218)), color-stop(0.5, rgb(197, 197, 197)));}
.jobWeightage input[type="range"]						{ width:74%; }
#jobTile input[type="range"],
#jobSkills input[type="range"],
#jobIndustry  input[type="range"]						{ background-image:-webkit-gradient(linear, 0% 0%, 100% 0%, to(rgb(134, 198, 218)), to(rgb(220, 218, 218)));}
#jobCompany input[type="range"],
#jobTitleDuration input[type="range"]					{ background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.5, rgb(134, 198, 218)), color-stop(0.5, rgb(220, 218, 218)));}
#jobDuration input[type="range"]						{ background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0.75, rgb(134, 198, 218)), color-stop(0.75, rgb(220, 218, 218))); }
#jobPromotion input[type="range"]						{ background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(134, 198, 218)), from(rgb(220, 218, 218))); }
.profile p											{font-family:Arial;font-size:14px;}
.profileDiv h4										{font-family:Arial;font-size:14px;font-weight:bold;width: 84%;float: left;}

/* --------------------------- candidate Style ---------------------------------- */
.candidateimg img						                 { width: 125px; height: 125px; border: 2px solid #106550; border-radius: 50%; }
.candidateimg h2							             { color: #006450; font-size: 16px; font-weight: bold; margin-top: 10px; }
.candidate input[type=checkbox] + label 				 { color: #0a7fc9; font-style: italic; background:#0a7fc9 }
.candidate input[type=checkbox]:checked + label 		 { color: #0a7fc9; font-style: normal; }
.candidate .progress								     { height:6px; margin-top:8px; }
.candidateAddress						                 { width:100%; }
.candidateContact button					             { height: 35px; width: 25%; background-color: white; border-color: silver; font-size: 13px; border-radius: 5px; }
.candidateContact h4						             { font-weight:bold; }

.sourcedIcon							                 { color:#209a1f; }
.screenedicon							                 { color: #209a1f; background-color:#fff; }
.submiticon							                     { color: #777; }
.email							                         { margin: 5px 0px; display: block; }
textarea							                     { width:100%; height:100px; }
.notes i							                     { margin-right:30px; color: #5bc0de; }
.clsilver							                     { color:silver; }
.save i							                         { margin-right:5px; }
.srcDownload						                     { font-size:14px; font-weight:bold; }
.appointment						                     { background-color: rgba(232, 232, 232, 0.25); padding-bottom: 10px; padding-top: 2px; margin-top: 10px; }
.candidate:after							             {  border-bottom: 1px solid #dad8d6; position: relative; top: 0px; width: 75%; left: 196px; }
.bgfbfbfb						                         {background-color:#fbfbfb;}
.f14							                         {font-size:14px;}
.alertImg								                 {width:23%;}
.alertImg img							                 {border-radius:50%;}
.alertSpan								                 {font-size:14px;color:#0a7fc9;}
.alertDiv								                 {color:#777;margin-bottom:15px;}
.btnDiv									                 {padding-bottom:10px;padding-top:10px;background-color:#f4f5f5;}
.bgfbfbfb								                 {background-color:#fbfbfb;}
.alertBtn								                 {border-color:#0a7fc9; background-color: white;color: #0a7fc9;}
.alertBtnred							                 { background-color: #d40a1c;border-color: #d40a1c;color: white;white-space: normal;width: 72%;}
.timeSpan								                 { line-height: 32px;color: #0a7fc9;font-weight: bold;}
.contactdiv								                 { padding-top:5px;padding-bottom:5px;background-color: #fbfbfb;}
.timediv								                 { text-align:center;background-color:#ededed;}
.clrblue								                 { color:#0a7fc9;}
.navbar-nav .UserProfile.open .dropdown-menu   	         { left: -225px;}
.navbar-nav .Calendar.open .dropdown-menu		         { left: -78px;}
.Heading2 .icon							                 { color: #0a7fc9;margin-top: 7px;}
/* --------------------------- candidate Profile Style ---------------------------------- */
.WidgetProfileBox .ProfileHead                              { float: left; display:inline-block; width:20%; }
.WidgetProfileBox .ProfileDescription                       { float: left; display:inline-block; width:80%; }
.WidgetProfileBox .ProfileDescription p                     { font-size: 14px; }
.WidgetProfileBox .ProfileHead h3                           { font-size: 14px; color:#ccc; font-weight:500;  }
.WidgetProfileBox .ProfileDesc                              { padding:0 30px 0  0; margin-bottom: 10px; }
.WidgetProfileBox .ProfileDesc p                            { padding:0 30px 0  0; margin-bottom:5px; }
.WidgetProfileBox .ProfileDesc p span                       { color: #ccc; }
.WidgetProfileBox .ProfileDesc h4                            { margin-top: 0; margin-bottom:5px;  padding:0; font-size:14px; font-weight:bold;  }
.WidgetProfileBox h3                                        { font-size: 14px;  color: #333; font-weight:bold; }
.WidgetProfileBox h4                                        { font-size: 15px;  color: #333; font-weight:bold; }
.WidgetProfileBox .ResumeDescription                        { width: 100%; }
.WidgetProfileBox .ResumeDescription p                      { font-size: 14px; }
.WidgetProfileBox .ResumeDescription ul                     { padding:0 0 0 20px; }
.WidgetProfileBox .ResumeDescription ul li                  { font-size: 14px;  }
/* --------------------------- CompareCandidates Style ---------------------------------- */
.CompareCandidatesList                                        { width: 100%; color: #FFF; padding: 10px 10px; min-height: 120px; border-bottom: 1px solid #edf1f2; }
.CompareCandidatesPhoto                                          { float: left; height: 60px; min-width: 60px; width:25%; }
.CompareCandidatesPhoto > img                                    { border-radius: 60px; }
.CompareCandidateContent                                        { width:75%; float: right; padding:5px 0 0 15px; }
.CompareCandidateName                                              { text-align: left; font-size: 16px; font-weight: 600; margin-bottom: 5px; line-height: 16px; color:#333; }
.CompareCandidateDesignation                                    { text-align: left; font-size:14px; margin-bottom: 5px; line-height: 14px; color:#333; }
.CandidateCheckbox                                              { text-align: left;}

.alertBtn								                        {border-color:#0a7fc9; background-color: white;color: #0a7fc9;}
.tooltip > .tooltip-inner 				                        {background-color: #ffffff;border-color: #e3e3e3;color:#333;width:600px !important;position:relative;right:45px;top:10px;text-align:left;padding:10px;box-shadow: 0px 3px 2px 0px #ccc;}
.tooltip.bottom .tooltip-arrow					                 {border-bottom-color: #ffffff;position:relative;top:10px;}
.rzslider .rz-bar.rz-selection			                          { background: #86C6DB;}
.rzslider .rz-pointer					                          { background-color: #036685;}
.InputTextBox .InputText                                           { position: absolute; top: 13px; background-color:#ccc; padding:6px; }
.InputTextBox input[type="search"].FormInput                       { padding-left:70px; }
.ui-menu .ui-menu-item                                              { padding: 0 !important; }
.ui-menu-item-wrapper                                               { padding: 3px 1em 3px 0.4em !important; }
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active                                  { background-image: none !important; background-color: #ccc !important; }
.DownloadLink ul                                                    { list-style: none; }
.DownloadLink ul li                                                 { float: left; list-style: none;float: left; list-style: none;border-right: 1px solid;
    height: 14px;padding: 0px 5px 0px; }
.DownloadLink ul li:last-child  {border:0px;}
.DownloadLink ul li.disabled a                                      { color:#333; padding: 0 5px; }
tooltip > .tooltip-inner 				{background-color: #ffffff;border-color: #e3e3e3;color:#333;width:600px !important;position:relative;right:45px;top:10px;text-align:left;padding:10px;box-shadow: 0px 3px 2px 0px #ccc;}
.tooltip.bottom .tooltip-arrow					{border-bottom-color: #ffffff;position:relative;top:10px;}


.Attachments                                                        { }

.Attachments ul li                                                  { list-style: none; float: left; display: inline-block; padding:10px; margin: 0 5px; background-color: #ccc;  }
.Attachments ul li:first-child                                       { margin: 0 5px 0 0; }
