@media (min-width:1441px) and (max-width:1680px) {
.Content								    { margin:60px 0 0 0; overflow-x: hidden; min-height:calc(100vh - 100px); }
.DoughnutChart .percent 					{ top:40%; }
.ContentBox                                 { width: 79%; }
}
@media (max-width:1680px)                   {
.ContentBox                                 {  width:80%; }
}
@media (max-width:1600px)                   {
.ContentBox                                 {  width: 79%; }
}
@media (max-width:1440px)                   {
.ContentBox                                 { width:77%; }
}
@media (max-width:1366px)                   {
.ContentBox                                 { width: 73.8%; }
}
@media (max-width:1280px)                   {
.ContentBox                                 { width: 67.4%; }
}
@media (min-width: 320px) and (max-width: 1024px) {
.UserNav                                    { width: 100%; margin-top:60px; }
.UserNav ul li                              { width:auto; float:left;  }
.UserNav ul li ul li                        { width: 100%; float:none;  }
.navbar, .navbar .col-sm-12                 { max-height: 1200px; overflow: visible; margin-bottom:0; min-height: 0; }
.navbar .col-sm-12                          { padding:0 !important; }
.navbar-header                              { width: 100%; background-color:#106550; position:fixed; top:0; left: 0; z-index: 2; }
.navbar-default				                { background-color:#fff; }
.navbar-collapse.in                         { background-color:#080a0e; border:0; -webkit-transition: -webkit-transform 0.2s ease-in-out, top 0.2s 	ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s; -moz-transition: -moz-transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s; transition: transform 0.2s ease-in-out, top 0.2s ease-in-out 0.2s, opacity 0.2s ease-in-out 0.2s; -webkit-transform-origin: center; -moz-transform-origin: center; transform-origin: center;}
.navbar-default .navbar-nav > li > a 		{ padding: 15px 10px 15px 15px; }
.navbar-nav li                              { float: left; display: block; width: 100%; padding: 0px; margin: 0px; position: relative; }
.navbar-nav li > a                          { background-color:#1b1e24; display: block; float: left; width: 100%; line-height: 19px; color: #8b91a0; font-size: 13px; font-weight: 400; padding: 15px 10px 15px 15px; text-decoration: none; border-bottom: 1px solid #17191e; vertical-align: text-bottom; }
.navbar-nav li > a:hover 					{ background-color:#262a33; color:#fff; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease; }
.navbar-nav li ul li > a                    { }
.navbar-collapse                            { max-height: 1200px !important; margin-top:60px; }
.navbar-fixed-bottom, .navbar-fixed-top     { position:relative; }
.navbar-default .navbar-nav.navbar-right > li.UserProfile > a { text-align: center; }
.UserNav .navbar-nav li > a                 { background-color:transparent; border-bottom:0; }
.navbar-default .navbar-toggle              { border:0; }
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover        { background-color:transparent; }
.navbar-toggle                              { float:left; margin-right:0; }
.UserNav                                    { margin-top:0; width:150px; position: fixed; right: 0; z-index: 2; background-color:transparent; }
.navbar-default .navbar-nav.navbar-right > li > a { padding:15px 13px; min-width: 40px; height:50px; text-align: center; }
.navbar-default .navbar-nav.navbar-right > li.UserProfile > a { padding:10px 0 15px 15px; color:#fff; text-align: left; height: 50px; }
.navbar-nav                                 { margin:0 -10px; float: right; }
.Help a, .Calendar a, .Notification a       { font-size:18px !important; }
.badge                                      { padding: 3px 6px; left:24px; top: 10px; }
.navbar-collapse .navbar-nav                { float: left; }
.navbar-default .navbar-toggle .icon-bar    { width: 16px; background-color: #ff8300; }
.navbar-collapse                            { position: fixed; height: 100vh; margin-top:60px;}
.nav > li.NavClose                          { display:block; margin-left:0; }
.nav > li.NavClose a                        { text-align:right; background-color: #262a33; font-size:14px; font-weight:normal; padding:10px 10px 10px 15px;}
.nav > li.NavClose a i                      { background-color: #1b1e24; width:25px; height:25px; border-radius:50%; text-align: center; padding: 5px; color:#ccc;  }
.navbar-default .navbar-nav > li > a:hover  { background-color: #262a33; }

.Content                                    { margin:0; }
.ContentBox                                 { margin-top:75px;  margin-right:15px; position:relative; width:98%; }
.SideBar                                    { /*display: none;*/width:100%; }
.DataListBox				                { display: none; }
.DataGrid							        { display:block; }

}

@media (min-width:768px) and (max-width: 1024px) {
.navbar-collapse                            { width:300px; height: 100vh; margin-left: 10px; }
.UserNav                                    { width: 250px; float: right; margin-top:0; position: fixed; right: 0; z-index: 3; }
.navbar-header                              { float: none; }
.navbar-toggle                              { display: block; margin-bottom: 14px; margin-top: 14px;}
.navbar-collapse                            { border-top: 0 solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-collapse.collapse                   { display:none !important; }
.navbar-collapse.collapse.in                { display:block!important; }
.navbar-default .navbar-toggle .icon-bar    { width: 20px; }
.navbar-toggle                              { margin-left:10px; }
.navbar-default .navbar-nav.navbar-right > li > a { padding:20px 15px; min-width:60px; height: 60px; text-align: center; }
.navbar-default .navbar-nav.navbar-right > li.UserProfile > a { padding:15px 0 15px 15px; color:#fff; text-align: left;  height:60px; }
}
 @media (min-width: 992px) {
.AgingRequisitionTable.table-responsive {height: 341px;}
}
@media (min-width:320px) and (max-width: 767px) {
.navbar-collapse                            { height: 100vh; margin-top:50px; }
.navbar-brand > img                         { width: 80%; }
.navbar-brand                               { height: 50px; padding: 6px 5px; }
.navbar-nav li.Help                         { display: none; }
.ContentBox                                 { margin-top:5px; }
.TermSorting ul li                          { margin: 0 3px; }
.TermSorting ul li:first-child              { margin: 0 3px 0 0; }
.TermSorting ul li:last-child               { padding-left:6px; margin: 0 0 0 3px; }
.TermSorting ul li a                        { padding:3px; }
}
@media (max-width:640px) {
.DoughnutChart section                      { width:30% !important; height:130px !important; float: left; margin:10px 0; }
.DoughnutChart section label                { width: 100%; text-align: center; padding-top:0px; }
.DoughnutChart .chart canvas 				{ position: absolute; top: 0; left: 7%; }
}
@media (max-width:360px) {
.DoughnutChart section                      { width:100% !important; height:130px !important; margin:10px 0; }
.DoughnutChart section label                { width: 100%; text-align: center; padding-top:0; }
.DoughnutChart .chart canvas 				{ position: absolute; top: 0; left:28%; }
.panel-heading               				{ padding: 10px; }
}

