<div ng-controller="agingRequisitionTableController" class="DataListBox">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Aging Requisitions ({{agingRequisitionCount}})</h2> <span class="pull-right Link disabled"><a href="#/Requisitions">View All Open Requisitions <i class="fa fa-chevron-right" aria-hidden="true"></i></a></span> </div>
    <div class="AgingRequisitionTable table-responsive" st-table="displayedCollections" st-safe-src="rowCollection">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Requisition</th>
                    <th></th>
                    <th>Engagement</th>
                    <th>Source</th>
                    <th>Client Name</th>
                    <th style="width:64px;" >Sourced</th>
                    <th style="width:71px;" >Screened</th>
                    <th style="width:74px;" >Submitted</th>
                    <th style="width:82px;" >Interviewed</th>
                    <th style="width:60px;" >Offered</th>
                    <th style="width:70px;" >Accepted</th>
                    <th style="width:80px;" >Days Open</th>
                </tr>
            </thead>
            <tbody>
                <span us-spinner="{radius:10, width:2, length: 4}"></span>


                <tr  ng-repeat="row in displayedCollections |  orderBy:'StartDate' | limitTo:5">
                    <td>
                        <div class="TblRequisition"><a href ng-click="changeActivelink(row, 'RequisitionDetails/3')">{{row.ReqNumber}} <span>{{row.JobTitle}}</span></a></div>
                        <div class="TblDate">{{row.StartDate}}-{{row.EndDate}}</div>
                    </td>
                    <td>
                        <div class="TblResources">{{row.Data.data[0].open_positions}}</div>
                    </td>
                    <td><a ui-sref="engagementDetails({tab:1})" ng-click="onSelectEngagementPerID(row.EngagementId, row.engagementType )">{{row.Engagement}}</a></td>
                    <td>{{row.Source}}</td>
                    <td><div class="TblClientName">{{row.Client}}</div>
                        <!--<div class="TblClientLocation">{{clientLocation}}</div>--></td>
                    <td>{{row.Data.data[0].sourced}}</td>
                    <td>{{row.Data.data[0].screen}}</td>
                    <td>{{row.Data.data[0].submit}}</td>
                    <td>{{row.Data.data[0].interview}}</td>
                    <td>{{row.Data.data[0].offer}}</td>
                    <td>{{row.Data.data[0].accept}}</td>
                    <td>
                        <button class="TblButton" title="{{row.Data.data[0].reason}}">
                        <div class="TblDays" ng-class="row.Data.data[0].color"> {{row.Data.data[0].open_days}}</div>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
