<div class="DataListBox">
    <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Applicants List({{rowCollection.length}})</h2><span class="pull-left HeaderLink"><a ng-click="refreshApplicants();"><i class="fa fa-refresh" aria-hidden="true"></i>
 Refresh Applicants </a></span> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" template-url = "uibPagerKf.html"  total-items="totalItems" ng-model="currentPage" previous-text="" next-text=""></ul></span></div>
    <div ng-show="listVisible" st-table="displayedCollections" st-safe-src="rowCollection" class="ApplicantsListTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:20px;"><input type="checkbox"></th>
                    <th class="SortDefault" st-toggle-column st-sort="candidate_name"> Applicants Name </th>
                    <th class="SortDefault" st-toggle-column st-sort="Title">Title</th>
                    <th class="SortDefault" st-toggle-column st-sort="location">Location</th>
                    <th class="SortDefault" st-toggle-column st-sort="Company">Current Company</th>
                    <th class="SortDefault" st-toggle-column st-sort="source">Source</th>
                    <th class="SortDefault" st-toggle-column st-sort="activity_date">Updated On</th>
                    <th class="SortDefault" st-toggle-column st-sort="status">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="candidateListDtls in filtered = displayedCollections | myfilter : search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td st-toggle-item>
                        <div class="TblRequisition"><input type="checkbox">

                        </div>
                    </td>
                    <td st-toggle-item>
                        <div class="TblRequisition">
                            <a href="" ng-click="openApplicantIframe()">
                        {{candidateListDtls.candidate_name}} </a>
                        </div>
                    </td>
                    <td st-toggle-item>{{candidateListDtls.Title}}</td>
                    <td st-toggle-item>{{candidateListDtls.location}}</td>
                    <td st-toggle-item>{{candidateListDtls.Company}}</td>
                    <td st-toggle-item>{{candidateListDtls.source}}</td>
                    <td st-toggle-item>{{candidateListDtls.activity_date | date:dd.mm.yy }}</td>
                    <td st-toggle-item>{{candidateListDtls.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
