<div class="panel panel-default WidgetProfile">
    <div class="panel-body">
        <span us-spinner="{radius:10, width:2, length: 4}"></span>
            <embed ng-src="{{pdfContent}}" type="application/pdf" style="width:100%; height:1000px" />

        <!--        <div class="WidgetProfileBox">
            <h3>Summary</h3>
            <div class="ResumeDescription">
                <p>Senior executive in multinational companies with 20 years of proven track record in Integrated Supply Chain Leadership across a wide variety of companies such as: The Coca-Cola Co, Frito-Lay Int, Abbott Laboratories, Bristol-Myers Squibb, General Mills, Innophos, Becton-Dickinson and MSD in Mexico, Europe and Central America &amp; Caribbean Region (Nafta, Caricom, Euro zone).</p>
                <p>Reputable for supporting revenue and profitability, achieving operating efficiency goals. Delivering sustainable Performance and Good Results.</p>
                <p>Capable of creating and leading top talented teams and setting shared objectives across all functional areas.</p>
                <p>Considered highly resourceful and action oriented with strong Integrated Supply Chain functions as well as financial, analytical and strategic planning skills.</p>
                <p>Has strong networking, negotiation and communication abilities.</p>
            </div>
            <hr />
            <h3>Experience</h3>
            <h4>Supply Chain Director</h4>
            <div class="ResumeDescription">
                <p> <span style="display:block;">Honeywell</span> November 2013 – Present (2 years 10 months) | San Francisco, USA</p>
                <ul>
                    <li>Member of Executive Committee Main Contact as Leader of Supply to Commercial and BU’s in Mexico and also acting as a bridge between Comercial and Manufacturing Leaders (MSD is 2nd Largest Pharma in Mexico).</li>
                    <li>Leader to implement a Transformational Process Model to Mitigate high inventories while improve Customers expectations.</li>
                    <li>Developed a Segmentation Strategy for Products</li>
                    <li>Implement an End-to- End Planning scope with full responsability of Product Availability by Brands and Legal Entity</li>
                    <li>Balance inventory levels to fit in contracted space @3PL eliminating all overflows and reducing 3K pallet positions</li>
                    <li>Customer Voice approach to adjust Distribution Model achiving a 99.8% Revenue Recognition and reduce carriers by 15%</li>
                    <li>Mexico HUB Leader for Export to LA, and Imports from Europe, Canada and USA. Savings in converting Air to Ocean estimate 12% vs Budget in Wave 1</li>
                    <li>S&OP Leading Supply . Redesign Supply Planning to increase Service Levels 96% and Reduce Inventories 28%.</li>
                    <li>Local Distribution: Transforming all Logistics model aligned with Customers Expectations and reducing 23% Total Distribution Cost.</li>
                </ul>
            </div>
             <h4>Regional Supply Chain Director North LA</h4>
            <div class="ResumeDescription">
                <p> <span style="display:block;">BD</span> September 2011 – January 2013 (1 year 5 months) | San Francisco, USA</p>
                <p>Responsible for all Supply Chain process for the Region with sourcings in USA, CAN, Europe to attend Mexico &amp; CCA Market. Also responsible for Exports to Europe and USA.</p>
                <p>Supporting Bioscience, Diagnostics, Diabetes, Medical Surgical, Pre-Anallytical and Injections Systems Business Units in Mexico & CCA</p>
            </div>
        </div>--></div>
</div>
