<div class="panel panel-default WidgetProfile">
    <div class="panel-body">
        <div class="WidgetProfileBox">
            <div class="ProfileHead">
                <h3>Present</h3> </div>
            <div class="ProfileDescription">
                <p>Supply Chain Director at Honeywell</p>
            </div>
            <div class="ProfileHead">
                <h3>Previous</h3> </div>
            <div class="ProfileDescription">
                <p>BD, Innophos</p>
            </div>
            <div class="ProfileHead">
                <h3>Summary</h3> </div>
            <div class="ProfileDescription">
                <p>Senior executive in multinational companies with 20 years of proven track record in Integrated Supply Chain Leadership across a wide variety of companies such as: The Coca-Cola Co, Frito-Lay Int, Abbott Laboratories, Bristol-Myers Squibb, General Mills, Innophos, Becton-Dickinson and MSD in Mexico, Europe and Central America & Caribbean Region (Nafta, Caricom, Euro zone).</p>
            </div>
            <div class="ProfileHead">
                <h3>Skills</h3> </div>
            <div class="ProfileDescription">
                <p>Validation, FDA, Automation, Mechanical, GMP, Pharmaceutical Industry, Root Cause Analysis, Computer System Validation, Operation Excellence, Quality Six Sigma, CAPA, Learn Manufacturing, Process Improvement</p>
            </div>
            <div class="ProfileHead">
                <h3>Experience</h3> </div>
            <div class="ProfileDescription">
                <div class="ProfileDesc col-md-4 col-lg-4">
                    <h4>Supply Chain Director</h4>
                    <p>Honeywell, San Francisco, USA</p>
                    <p><span>November 2013 – Present (2 years 10 months)</span></p>
                </div>
                <div class="ProfileDesc col-md-4 col-lg-4">
                    <h4>Regional Supply Chain Director North LA</h4>
                    <p>BD, Mexico City Area, Mexico</p>
                    <p><span>September 2011 – January 2013 (1 year 5 months)</span></p>
                </div>
                <div class="ProfileDesc col-md-4 col-lg-4">
                    <h4>Supply Chain Director</h4>
                    <p>Innophos, Houston, USA </p>
                     <p><span>September 2008 – August 2011 (3 years)</span></p>
                </div>
            </div>
            <div class="ProfileHead">
                <h3>Education</h3> </div>
            <div class="ProfileDescription">
                <div class="ProfileDesc col-md-4 col-lg-4">
                    <h4>The University of Salford</h4>
                    <p>HND Total Quality Management</p>
                    <p><span>1995 - 1997</span></p>
                </div>
                <div class="ProfileDesc col-md-4 col-lg-4">
                    <h4>University of Michigan</h4>
                    <p>BS, Computer Engineering</p>
                     <p><span>1990 - 1995</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
