<div class="panel panel-default" ng-controller="candidatePipelineController">
    <div class="panel-heading clearfix">Candidate Pipeline <span class="TermSorting pull-right">
    <ul>
    <li ><a id="myReqs"  href="" ng-click="callmyClientRequisition('mygraph')">My Pipe</a></li>
    <li ><a id="clientReqs" href="" ng-click="callmyClientRequisition('company')" class="active">Client Pipe</a></li>
    <li class="FormSelect">
        <select >


          <option>Lamb Weston</option>

        </select>
    </li>
    </ul>
    </span></div>
     <div class="panel-body" style="height: 266px;"> <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="panel-body" style="height: 266px;">
        <canvas id="bar" class="chart chart-bar" chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-series="candidatePipelineData[0].series" chart-click="onClick"> </canvas>
        <!--  <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series" chart-colours="datasetOverride" >
    </canvas>-->
    </div>
</div>
