<div class="panel panel-default" ng-controller="candidateSourceController">
    <div class="panel-heading clearfix">Candidate Source <span class="TermSorting pull-right">
       <ul>
    <li ><a id="myCandidateSource"  href="" ng-click="callmyClientRequisition('mygraph')">My Source</a></li>
    <li ><a id="clientCandidateSource" href="" ng-click="callmyClientRequisition('company')" class="active">
Client Source</a></li>
    <li class="FormSelect">
        <select>


          <option>Lamb Weston</option>

        </select>
</li>
    </ul>
    </span></div>
      <div class="panel-body" style="height: 266px;">
   <canvas id="pie" style="height:240px;"  class="chart chart-pie"
  chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-options="options">
</canvas>
    </div>
</div>
