<div class="panel panel-default" ng-controller="candidateSourceController">
    <div class="panel-heading clearfix">Candidate Source <span class="TermSorting pull-right">
       <ul>
    <li ><a id="myCandidateSource"  href="" ng-click="callmyClientRequisition('mygraph')">My Source</a></li>
    <li ><a id="clientCandidateSource" href="" ng-click="callmyClientRequisition('company')" class="active">
Client Source</a></li>
   <li class="FormSelect">
        <select id="candidateSource" class=" form-control" required ng-model='selectedEngagment' ng-change="update()">

             <option ng-repeat="option in allEngagments" value="{{option.Engagement}}" title="{{option.Engagement}}" >{{option.Engagement |truncate: 15}}</option>

        </select>
</li>
    </ul>
    </span></div>
    <div class="panel-body" style="height: 266px;">
        <div ng-if="candidatePipelineData[0].data.length > 1">
        <canvas id="pie" style="height:240px;" class="chart chart-pie" chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-options="options" chart-click="onClick" > </canvas>
        </div>
        <div ng-if="candidatePipelineData[0].data.length < 1">
            <img src="content/images/empty_graph.png">
        </div>


    </div>
     <div class="panel-heading clearfix" style="
    height: 47px;
"><span class="TermSorting pull-right" ></span></div>

</div>
