<div class="panel panel-default" ng-controller="candidatePipelineController">
    <div class="panel-heading clearfix">Candidate Source <span class="TermSorting pull-right">
    <ul>
    <li><a href="#">Q1</a></li>
    <li><a href="#" class="active">Q2</a></li>
    <li><a href="#">Q3</a></li>
    <li><a href="#">Q4</a></li>
    <li class="FormSelect">
        <select id="candidatePipelineList" class="selectpicker form-control" >
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
        </select>
        </li>
    </ul>
    </span></div>

    <canvas id="bar" class="chart chart-bar"
  chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-series="candidatePipelineData[0].series">
    </canvas>
  <!--  <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series" chart-colours="datasetOverride" >
    </canvas>-->


</div>
