		<div class="row horizontalTabs mb20p">
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li><a class="tab-link" href="#a" data-toggle="tab">Summary</a></li>
					<li><a class="tab-link" href="#b" data-toggle="tab">Experiences</a></li>
					<li><a class="tab-link" href="#c" data-toggle="tab">Traits</a></li>
					<li><a class="tab-link" href="#d" data-toggle="tab">Competencies</a></li>
					<li><a class="tab-link" href="#e" data-toggle="tab">Drivers</a></li>
				</ul>
				<div class="col-md-9 tab-content">
					
					<div class="tab-pane active" id="a">
						<div class="arrow-right firstpane"></div>
						<h4 class="mt20">Summary</h4>
						<p  class="mt20">
							Johny will take big risks where appropriate and is willing to take responsibility for outcomes. Candidates like Johny place an ideal emphasis on working with other people in pursuit of collective goals, sharing credit for accomplishments, and building strong teams. They are passionate and steadfast in the pursuit of ambitious goals despite obstacles or setbacks. In general, Johny is motivated by achievement in the face of tough obstacles.
						</p>
						<div class="row">
							<div class="col-md-4 mt20">
								Demographics

									EDUCATION
									Postgraduate Degree (Master's,
									etc.)
									 
									COMPANY
									Innovative Corp
									 
									FUNCTION
									Information Technology
									 

									EMPLOYER PRIMARY INDUSTRY
									Advanced Technology
									 
									 
									TITLE
									Director IT Security and
									Compliance
							</div>
							<!--div class="col-md-4 mt20">
								<h4></h4>
								<p>
								</p>
							</div-->
						</div>
					</div>
					<div class="tab-pane" id="b">
						<div class="arrow-right secondpane"></div>
						<h4 class="mt20">Experiences</h4>
						<p class="mt20">Experiences comprise career history. They are key roles and assignments such as managing a turnaround, taking a global assignment, or handling a crisis. Korn Ferry has identified the experiences most instrumental to developing a leader’s readiness for new challenges and roles. Depending on the industry, function, and level, certain experiences may be more or less crucial for success.
						</p>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>KEY EXPERIENCES FOR SHELDON</h4>
							</div>
							<div class="col-md-4 mt20">
								<h4 class="mt20">BREADTH OF EXPERIENCE</h4>
								<p class="mt20">The more difficult and perspective broadening the experience, the faster it builds up leadership muscle.</p>
							</div>
							<div class="col-md-4 mt20">
								<h4 class="mt20">DEPTH OF EXPERIENCE</h4>
								<p class="mt20">Top leaders learn more and improve with added exposure to individual facets of their work, such as strategy or finance.</p>
							</div>
							<div class="col-md-4 mt20">
								<h4 class="mt20">DEVELOPING READINESS</h4>
								<p class="mt20">Research shows that some experiences develop readiness more than others. High stakes, high visibility, high risk, and a high degree of uncertainty create the conditions.</p>

							</div>
							<!--div class="col-md-4 mt20">
								<h4></h4>
								<p>
								</p>
							</div-->
						</div>
					</div>
					<div class="tab-pane" id="c">
						<div class="arrow-right thirdpane"></div>
						<h4 class="mt20">Traits </h4>
						<p class="mt20"> Johny is comfortable with complexity and ambiguity, often approaching challenging problems with novel ideas and creative solutions. Candidates like Sheldon strike an ideal balance between autonomy and relationship-building. They have tremendous drive, very high expectations, and are not likely to give up easily.</p>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						
					</div>
					<div class="tab-pane" id="d">
						<div class="arrow-right fourthpane"></div>
						<h4 class="mt20">Competencies </h4>
						<p class="mt20"> Johny is comfortable with complexity and ambiguity, often approaching challenging problems with novel ideas and creative solutions. Candidates like Sheldon strike an ideal balance between autonomy and relationship-building. They have tremendous drive, very high expectations, and are not likely to give up easily.</p>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						
					</div>
					<div class="tab-pane" id="e">
						<div class="arrow-right fifthpane"></div>
						<h4 class="mt20">Drivers </h4>
						<p class="mt20"> Johny is comfortable with complexity and ambiguity, often approaching challenging problems with novel ideas and creative solutions. Candidates like Sheldon strike an ideal balance between autonomy and relationship-building. They have tremendous drive, very high expectations, and are not likely to give up easily.</p>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 mt20">
								<h4>Current Strength</h4>
								<p class="current_strength">40</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
							<div class="col-md-4 mt20">
								<h4>Delivery Manager</h4>
								<p>
									Bharath Ramamoorthy
								</p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

<script>
		$(function(){
			 
		 $('a[href^="#"]').on('click',function (e) {
				e.preventDefault();

				var target = this.hash;
				var $target = $(target);

				$('.tab-content').stop().animate({
					'scrollTop': $target.offset().top
				}, 900, 'swing', function () {
					window.location.hash = target;
				});
			});
		
		});
</script>