<div class="panel panel-default" ng-controller="candidatePipelineController">
    <div class="panel-heading clearfix">Candidate Pipeline <span class="TermSorting pull-right">
    <ul>
    <li ><a id="mypipes"  href="" ng-click="callmyClientRequisition('mygraph')">My Pipe</a></li>
    <li ><a id="clientPipes" href="" ng-click="callmyClientRequisition('company')" class="active">Client Pipe</a></li>
    <li class="FormSelect">
        <select id="cpsfsp" class="selectpickers form-control" required ng-model='selectedEngagment' ng-change="update()">

             <option ng-repeat="option in allEngagments" value="{{option.Engagement}}" title="{{option.Engagement}}" >{{option.Engagement |truncate: 15}}</option>

        </select>
</li>
    </ul>
    </span></div>
     <div class="panel-body" style="height: 266px;"> <span us-spinner="{radius:10, width:2, length: 4}"></span>
  <!--  <div class="panel-body" style="height: 266px;">-->
         <div ng-if="candidatePipelineData[0].data.length > 1">
       <canvas id="bar" class="chart chart-bar" chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-series="candidatePipelineData[0].series" chart-click="onClick"> </canvas>
        </div>
        <div ng-if="candidatePipelineData[0].data.length < 1">
            <img src="content/images/empty_graph.png"  ng-click="imageClick()">
        </div>

        </div>
         <div class="panel-heading clearfix" style="
    height: 47px;
"><span class="TermSorting pull-right" ></span></div>
        <!--  <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series" chart-colours="datasetOverride" >
    </canvas>-->

</div>
<!--</div>-->
