<div class="DataListBox">
    <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Candidates List({{candidateListDtls.candidateList.length}})</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" template-url = "uibPagerKf.html" ng-model="currentPage" previous-text="" next-text=""></ul></span> <span class="HeaderButton pull-right"><button type="submit" class="btn btn-primary btn-sm">Add Candidate</button></span></div>
    <div ng-show="listVisible" st-table="displayedCollections" st-safe-src="rowCollection" class="CandidatesListTable">
        <table class="table table-striped">
            <thead>
                <tr>
                   <th style="width:20px;"><input type="checkbox"></th>
                   <th class="SortDefault"  st-toggle-column st-sort="CandidateName">Candidate Name</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Title">Title</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Location">Location</th>
                   <th class="SortDefault"  st-toggle-column st-sort="CurrentCompany">Current Company</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Source">Source</th>
                   <th class="SortDefault"  st-toggle-column st-sort="UpdatedOn">Updated On</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Status">Status</th>
                   <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="candidateListDtls in filtered = candidateListDtls.candidateList | myfilter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                   <td><input type="checkbox" ng-click="getCandidateDatas(candidateListDtls.id);"></td>
                    <td st-toggle-item>
                        <div class="TblRequisition"><a ng-click="getCandidateData(candidateListDtls.id);">
                           <img src="content/images/user_icon_circle.png" alt=""/>
                            {{candidateListDtls.name = candidateListDtls.firstName + ' ' + candidateListDtls.lastName}} </a></div>
                    </td>
                    <td st-toggle-item>{{candidateListDtls.currentJobTitle}}</td>
                    <td st-toggle-item>{{candidateListDtls.location.city}}</td>
                    <td st-toggle-item>{{candidateListDtls.currentEmployer}}</td>
                    <td st-toggle-item>{{candidateListDtls.source}}</td>
                    <td st-toggle-item>{{candidateListDtls.dateModified | date:dd.mm.yy }}</td>
                    <td st-toggle-item>{{candidateListDtls.Status}}</td>
                    <td><img class="PadRt15" src="content/images/mail_icon.png" alt=""/> <img class="PadRt15" src="content/images/notes_icon.png" alt=""/><img src="content/images/pin_icon.png" alt=""/> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ButtonSection MarTp15 clearfix">
    <div class="pull-right"><button type="submit" ng-click="openMailPopup()" class="btn btn-primary btn-sm">Email</button></div>
        </div>
</div>
