<div class="DataListBox">
    <span us-spinner="{radius:10, width:2, length: 4}"></span>

    <div st-table="displayedCollections" st-safe-src="historyList" class="CandidateDetailsHistory">
        <table class="table table-striped">
            <thead>
                <tr>
                   <th class="SortDefault"  st-toggle-column st-sort="dateCreated">Date</th>
                   <th class="SortDefault"  st-toggle-column st-sort="type">Phase</th>
                   <th class="SortDefault"  st-toggle-column st-sort="name">Step</th>
                   <th class="SortDefault"  st-toggle-column st-sort="status">Status</th>
                   <th class="SortDefault"  st-toggle-column st-sort="comment">Comments</th>
                   <th class="SortDefault"  st-toggle-column st-sort="userName">Recruiter</th>
				   <th><span class="pull-left"><a ng-click="refreshHistory();" title=
"Refresh History"><i class="fa fa-refresh" aria-hidden="true"></i>
  </a></span></th>
                </tr>
            </thead>
            <tbody>
                 <tr  ng-repeat="row in displayedCollections | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">

                    <td st-toggle-item>{{row.dateCreated | date:dd.mm.yyyy}}</td>
                    <td st-toggle-item>{{row.type}}</td>
                    <td st-toggle-item>{{row.name}}</td>
                    <td st-toggle-item>{{row.status}}</td>
                    <td st-toggle-item>{{row.comment  }}</td>
                    <td st-toggle-item>{{row.userName}}</td>
					<td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ButtonSection MarTp15 clearfix">
    <div class="pull-right"><button type="submit" class="btn btn-primary btn-sm">Email</button></div>
        </div>
</div>
