<div class="container-fluid clearfix MarTp15 RallyVerse CompareCandidates">
    <div id="messages" style="position: relative;" class="clearfix"> <span us-spinner="{radius:10, width:2, length: 4}"></span>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides" class="active" index="slide.id">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="CompareCandidatesList">
                        <div class="CandidateCheckbox">
                            <input type="checkbox"> </div>
                        <div class="CandidatesDetails clearfix">
                            <div class="CompareCandidatesPhoto"><img src="content/images/img1.jpg"> </div>
                            <div class="CompareCandidateContent">
                                <div class="CompareCandidateName">Sheldon Cooper</div>
                                <div class="CompareCandidateDesignation">Director IT at IBM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="CompareCandidatesList">
                        <div class="CandidateCheckbox">
                            <input type="checkbox"> </div>
                        <div class="CandidatesDetails clearfix">
                            <div class="CompareCandidatesPhoto"><img src="content/images/img2.jpg"> </div>
                            <div class="CompareCandidateContent">
                                <div class="CompareCandidateName">Amy Nielsen</div>
                                <div class="CompareCandidateDesignation">Chief Information Officer </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="CompareCandidatesList">
                        <div class="CandidateCheckbox">
                            <input type="checkbox"> </div>
                        <div class="CandidatesDetails clearfix">
                            <div class="CompareCandidatesPhoto"><img src="content/images/img3.jpg"> </div>
                            <div class="CompareCandidateContent">
                                <div class="CompareCandidateName">John Lenon</div>
                                <div class="CompareCandidateDesignation">Program Director at TCS </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="CompareCandidatesList">
                        <div class="CandidateCheckbox">
                            <input type="checkbox"> </div>
                        <div class="CandidatesDetails clearfix">
                            <div class="CompareCandidatesPhoto"><img src="content/images/img1.jpg"> </div>
                            <div class="CompareCandidateContent">
                                <div class="CompareCandidateName">Sheldon Cooper</div>
                                <div class="CompareCandidateDesignation">Director IT at IBM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
