			<div class="col-md-12 candidateProfile">
				<div class="col-md-6 bordrRight">
					<div class="row">
						<div class="col-md-3 candidateimg">
							
								<img src="content/images/profile_big_img1.png"/>
							
						</div>
						<div class="col-md-9">
							
								<div class="Heading2">
									<h2 class="MarBtNull">Daniel Newman</h2>
								</div>
								<span>Suppply Chain Director</span>
								<div class="progress progress-small progress-striped active">
									<div class="progress-bar progress-bar-primary" style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar"></div>
								</div>
								<a href="#">Johnywills@gmail.com</a>
								<div class="mt5">
									<span class="clrSilver">Phone :</span><span>212.630.2345</span><img class="pl10" src="content/images/phone_icon.png"/><br/>
									<span class="clrSilver">Mobile :</span><span>972.938.2393</span><img class="pl10" src="content/images/phone_icon.png"/>
								</div>
							
						</div>
					</div>
					<div class="row mt20">
						<!-- <div class="col-md-3">
							
							
								<span class="clrSilver">Present:</span><br/>
								<span class="clrSilver">Previous:</span><br/>
								<span class="clrSilver">Experience:</span><br/>
								<span class="clrSilver">Skills:</span><br/>
								<span class="clrSilver">Expectation:</span>
							
						</div>
						<div class="col-md-9">
						
								<span>Supply Chain Director at Honeywell</span><br/>
								<span>BD,Innophos</span><br/>
								<span>16years, 4 companies</span><br/>
								<span>Validation, FDA, Automation, Mechanical, GMP, Pharmaceutical Industry, Root Cause Analysis, Computer System Validation, Operation Excellence, Quality Six Sigema, CAPA, Learn Manufacturing,Process Improvemen</span><br/>
								<span>HND Total Quality Management, BS Computer Engineering</span>
							
						</div> -->
						<div class="col-md-12">
							<div><span class="clrSilver candidateinfo">Present:</span><span>Supply Chain Director at Honeywell</span><br/></div>
							<div class="mt10"><span class="clrSilver candidateinfo">Previous:</span><span>BD,Innophos</span><br/></div>
							<div class="mt10"><span class="clrSilver candidateinfo">Experience:</span><span>16years, 4 companies</span><br/></div>
							<div class="h80 mt10"><span class="clrSilver candidateinfo">Skills:</span><span class="candidateSkills">Validation, FDA, Automation, Mechanical, GMP, Pharmaceutical Industry, Root Cause Analysis, Computer System Validation, Operation Excellence, Quality Six Sigema, CAPA, Learn Manufacturing,Process Improvemen</span><br/></div>
							<div class="mt10"><span class="clrSilver candidateinfo">Expectation:</span><span>HND Total Quality Management, BS Computer Engineering</span><br/></div>
						</div>
					</div>
					
				</div>
			</div>