<div class="container-fluid claerfix MarTp15">
    <div class="row MarBt15">
        <div class="col-sm-6 col-md-4 col-lg-4"> <span class="InputText">To :</span>
            <label class="FormLabel OutputLabel">matt.austin@loopworks.com</label>
        </div>
    </div>
    <div class="row MarBt15">
        <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
            <label class="FormLabel">Company</label>
            <select id="" class="selectpicker form-control">
                <option selected="" value="All Saved Searches (4)">All Saved Searches (4)</option>
                <option value="Supply Chain Head">Supply Chain Head</option>
                <option value="Supply Chain President">Supply Chain President</option>
                <option value="Supply Chain Lead">Supply Chain Lead</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
            <label class="FormLabel">Template</label>
            <select id="" class="selectpicker form-control">
                <option selected="" value="All Saved Searches (4)">All Saved Searches (4)</option>
                <option value="Supply Chain Head">Supply Chain Head</option>
                <option value="Supply Chain President">Supply Chain President</option>
                <option value="Supply Chain Lead">Supply Chain Lead</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
            <label class="FormLabel">Email Profile</label>
            <select id="" class="selectpicker form-control">
                <option selected="" value="All Saved Searches (4)">All Saved Searches (4)</option>
                <option value="Supply Chain Head">Supply Chain Head</option>
                <option value="Supply Chain President">Supply Chain President</option>
                <option value="Supply Chain Lead">Supply Chain Lead</option>
            </select>
        </div>
    </div>
    <div class="row MarBt15">
        <div class="col-sm-6 col-md-4 col-lg-4 MarBt15">
            <label class="FormLabel">Add Attachments</label>
            <input name="myFile" type="file" /> </div>
        <div class="col-sm-12 col-md-12 col-lg-12 Attachments">
            <ul>
                <li>Detailed Job Description.docx (200 KB)</li>
                <li>Overview of Company, Organisation Structure, Terms and Policies.pdf (78 KB)</li>
            </ul>
        </div>
    </div>
    <div class="row MarBt15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="FormLabel">Subject</label>
            <input class="input-sm form-control" type="search"> </div>
    </div>
    <div class="row MarBt15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <textarea class="form-control" style="height:300px; overflow-y:auto;" ></textarea>
        </div>
        </div>
        <div class="row MarBt15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="ButtonSection pull-right">
                <button ng-click="close()" type="Cancel" class="btn btn-default btn-sm">Cancel</button>
                <button ng-click="" type="Save" class="btn btn-primary btn-sm">Send Email</button>
            </div>

    </div>
    </div>
</div>
