<div class="Heading2">
    <h2>Engagements Search</h2> </div>
<div class="panel panel-default SearchBox">
    <div class="panel-body">
        <div class="row MarBt15 clearfix">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <label class="FormLabel"> Engagement Name (or) ID</label>
            <input class="input-sm form-control FormInput" type="search"> </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <label class="FormLabel">Client Name</label>
            <input class="input-sm form-control FormInput" type="search"> </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <label class="FormLabel">Industry</label>
            <input class="input-sm form-control FormInput" type="search"> </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <label class="FormLabel">Recruiter Name</label>
            <input class="input-sm form-control" type="search"> </div>
        </div>
        <div class="row clearfix">
        <div class="col-sm-6 col-md-3 col-lg-3 DateRange" ng-controller="engagementTableController">
            <label class="FormLabel">From</label>
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" />
                <span class="input-group-addon" id="DateRange1"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
            <div class="col-sm-6 col-md-3 col-lg-3 DateRange" ng-controller="engagementTableController">
            <label class="FormLabel">To</label>
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" />
                <span class="input-group-addon" id="DateRange2"><i class="fa fa-calendar"></i></span>
            </div>
        </div>    
        <div class="col-sm-6 col-md-4 col-lg-4 RadioGroup">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> All </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Open </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Hold </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Closed </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option5" autocomplete="off"> In Pipiline </label>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2 clearfix">
            <label class="FormLabel">&nbsp;</label>
            <input type="checkbox" autocomplete="off"> My Engagements Only
    </div>
</div>
        
        