<div ng-controller="engagementperIDRequisitionController" class="DataListBox">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Requisitions({{engagementResponse.Requisitions.length}})</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" previous-text="" next-text=""></ul></span> </div>
    <div ng-show="true" st-table="displayedCollections" st-safe-src="engagementResponse.Requisitions" class="EngagementRequisitionTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="SortDefault" st-toggle-column st-sort="RequisitionNumber">Requisition</th>
                    <th></th>
                    <th class="SortDefault" st-toggle-column st-sort="Location">Location</th>
                    <th class="SortDefault" st-toggle-column st-sort="Source">Source</th>
                    <th class="SortDefault" st-toggle-column st-sort="Recruiter">Recruiter</th>
                    <th style="width:64px;">Sourced</th>
                    <th style="width:71px;">Screened</th>
                    <th style="width:74px;">Submitted</th>
                    <th style="width:82px;">Interviewed</th>
                    <th style="width:60px;">Offered</th>
                    <th style="width:70px;">Accepted</th>
                    <th style="width:80px;" class="SortDefault" st-toggle-column st-sort="DaysOpen">Days Open</th>
                    <th style="width:60px;" st-toggle-column st-sort="Status" class="SortDefault">Status</th>
                    <th style="width:30px;"></th>
                </tr>
            </thead>
            <tbody>
                <span us-spinner="{radius:30, width:8, length: 16}"></span>
                <tr st-select-row="row" ng-repeat="row in engagementResponse.Requisitions | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >
                    <td st-toggle-item>
                        <div class="TblRequisition"><a href="" ng-click="changeActivelink(row, 'RequisitionDetails/3')">{{row.requisitionNumber}} <span>{{row.requisitionTitle}}</span></a></div>
                        <div class="TblDate">{{row.StartDate}}-{{row.EndDate}}</div>
                    </td>
                    <td st-toggle-item>
                        <div class="TblResources">{{row.headCount}}</div>
                    </td>
                    <td st-toggle-item>{{row.Location}}</td>
                    <td st-toggle-item>{{row.sourceSystem}}</td>
                    <td st-toggle-item>{{row.RecruiterName}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Sourced');}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Phone Screen');}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Candidate Submitted');}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Interview');}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Offered');}}</td>
                    <td st-toggle-item>{{getData(row.workflowSteps, 'Hired');}}</td>
                    <td st-toggle-item>
                        <div class="TblDays" ng-class="row.requisitionColour"> {{row.daysOpen}}</div>
                    </td>
                    <td st-toggle-item>{{row.Status}}</td>
                    <td st-toggle-item><i class="fa fa-pencil"></td>    					
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-controller="engagementperIDRequisitionController" class="DataGrid row">
    <div class="Heading2 Open">
        <h2>Aging Requisitions</h2> 
    </div>
        <div ng-repeat="row in rowCollection" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="DataGridBox">
                <div class="DataGridHeader clearfix">
                    <div class="DGHeaderLeft">
                        <div class="DGRequisition"><a href="#RequisitionDetails/3"> {{row.RequisitionNumber}} <span>{{row.Requisition}}</span></a></div>
                        <div class="DGDate">{{row.RequisitionDate}}</div>
                    </div>
                    <div class="DGHeaderRight">
                        <div class="DGResources">{{row.Resources}}</div>
                        <div class="DGDays">{{row.DaysLeft }} {{row.Left }}</div>
                    </div>
                </div>
                <div class="DataGridFooter">
                    <ul class="DGInterviewStatus clearfix">
                        <li>
                            <div class="DGInterviewStatusName">Screened</div>
                            <div class="DGInterviewStatusNo">{{row.Screened}}</div>
                        </li>
                        <li>
                            <div class="DGInterviewStatusName">Applied</div>
                            <div class="DGInterviewStatusNo">{{row.Screened}}</div>
                        </li>
                        <li>
                            <div class="DGInterviewStatusName">Interviewed</div>
                            <div class="DGInterviewStatusNo">{{row.Interviewed }}</div>
                        </li>
                        <li>
                            <div class="DGInterviewStatusName">Offered</div>
                            <div class="DGInterviewStatusNo">{{row.Offered }}</div>
                        </li>
                        <li>
                            <div class="DGInterviewStatusName">Hired</div>
                            <div class="DGInterviewStatusNo">{{row.Hired }}</div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>
