<div class="DataListBox" ng-controller="engagementTableController">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Engagements({{rowCollection.length}})</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" template-url = "uibPagerKf.html" total-items="totalItems" ng-model="currentPage" previous-text="" next-text=""></ul></span> </div>
    <div st-table="displayedCollections" st-safe-src="rowCollection" class="EngagementsTable">
        <table class="table table-striped">
            <thead>
                <tr>
                   <th class="SortDefault"  st-toggle-column st-sort="EngagementNumber">Engagement</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Client">Client Name</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Industry">Industry</th>
                   <th class="SortDefault"  st-toggle-column st-sort="Type">Type</th>
                   <th class="SortDefault"  st-toggle-column st-sort="RequsitionCount">Requisitions</th>       
                </tr>
            </thead>
            <tbody>
                <span us-spinner="{radius:10, width:2, length: 4}"></span>
                <tr st-select-row="row" ng-repeat="engagementListDtls in displayedCollections  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td st-toggle-item>
                        <div class="TblRequisition"><a href="#EngagementDetails/1" ng-click="onSelectEngagementPerID(engagementListDtls.EngagementNumber)" >{{engagementListDtls.EngagementNumber}} <span>{{engagementListDtls.Engagement}}</span></a></div> <div class="TblDate">{{engagementListDtls.StartDate}}-{{engagementListDtls.EndDate}}</div>
                    </td>
                    <td st-toggle-item>{{engagementListDtls.Client.ClientName}}<div class="TblDate">{{engagementListDtls.Location}}</div></td>
                    <td st-toggle-item>{{engagementListDtls.Client.Industry}}</td>
                    <td st-toggle-item>{{engagementListDtls.Type}}</td>
                    <td st-toggle-item>{{engagementListDtls.Requsitions}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
