
<div ng-controller="PageCtrl">
    <ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
    <ul class="DataGridBoxList clearfix">
    <li ng-repeat="item in filtered = items.engagementList | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
<div class="col-sm-12 col-md-4 col-lg-3">
            <div class="DataGridBox">
                <div class="DataGridHeader clearfix">
                    <div class="DGHeaderLeft">
                        <div class="DGRequisition"><a href="#EngagementDetails"> {{item.EngagementNumber}}<span>{{item.Engagement}}</span></a></div>
                        <div class="DGDate">{{item.StartDate}} {{item.EndDate}}</div>
                    </div>
                    <div class="DGHeaderRight">
                        <div class="DGResources">{{item.RequsitionCount}}</div>
                        <div class="DGDays">{{item.DaysLeft }} Days</div>
                    </div>
                </div>
                <div class="DataGridContent clearfix">
                <div class="DGContentLeft">
                    <div class="DGCompanyName">{{item.Client}}</div>
                    <div class="DGCompanyTitle">{{item.Industry}}</div>
                    <div class="DGCompanyLocation">{{item.Location}}</div>
                    <div class="DGFinalStatus">{{item.Status}}</div>
                </div>
                <div class="DGContentRight">
                    <div class="DGStatus">{{item.Status}}</div>
                    
                </div>
                <div class="DGContentPersonal">
                    <div class="DGRole">{{item.Client}}</div>
                    <div class="DGName">{{item.Industry}}</div>
                </div>
            </div>
                <div class="DataGridFooter">
                    
                </div>
            </div>
        </div>
    </li>
    </ul>

</div>