<div class="Heading2 HeadingFloat clearfix">
    <h2>Documents</h2><span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" template-url = "uibPagerKf.html" previous-text="" next-text=""></ul></span><span class="pull-right MarRt15"><button class="btn btn-default btn-sm" ng-click="deleteDocs();" ng-disabled="isDeleteButton"> Delete </button></span> <span class="pull-right MarRt15"><a class="btn btn-primary btn-sm" ng-click="uploadDoc();">Attach new document</a></span> </div>
<div class="panel panel-default WidgetPD">
    <div class="panel-body">
        <ul class="clearfix">
            <li ng-repeat="pdfDtls in pdfDetailsData  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <div class="WidgetPDBox">
                    <div class="WidgetPDHeader">
                        <input type="checkbox" value="{{pdfDtls.DocumentNumber + ',' + pdfDtls.FileName}}" ng-click="toggleDelButton();"></input>
                    </div>
                    <div class="WidgetPDContent"><img ng-src="data:image/JPEG;base64,{{pdfDtls.Logo}}" style="width:209px; height:140px;" ng-click="openPdf(pdfDtls.DocumentNumber, pdfDtls.FileName)"> </div>
                    <div class="WidgetPDFooter">{{pdfDtls.FileName}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
