                <div class="row engagementTeam">
                    <div class="col-md-6">
						<div class="row">
							<div class="col-md-5">
								<div class="row">
									<h4 class="clsilver">Client Contact</h4>
									<div class="col-md-4">
										<div class="row">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-8">
										<span class="clientName">Jack Lee</span><br/>
										<span class="f13">HR Manager</span><br/>
									</div>
								</div>
							</div>
							<div class="col-md-6 pt35">
								<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
								<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
								<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-5">
								<div class="row">
									<h4 class="clsilver">Managing Consultant</h4>
									<div class="col-md-4">
										<div class="row">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-8">
										<span class="clientName">John White</span><br>
										<!-- <span class="f13">HR Manager</span><br> -->
									</div>
								</div>
							</div>
							<div class="col-md-6 pt35">
								<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
								<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
								<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
							</div>
						</div>
					</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="Heading2 HeadingFloat clearfix">
						<h4 class="recuritmentTeam">Recruitment Team(5)</h4>
					</div>
					 <div class="col-md-3">
						<label class="FormLabel">Requistion Name or Id</label>
						<input class="input-sm form-control FormInput" type="search"> 
					</div>
					
					<div class="col-md-3">
						<label class="FormLabel">Recruiter Name</label>
						<input class="input-sm form-control FormInput" type="search"> 
					</div>
					
					<div class="col-md-3">
						<label class="FormLabel">Location</label>
						<input class="input-sm form-control FormInput" type="search"> 
					</div>
			
				</div>
				<div class="col-md-12 mt25">
					<ul style="padding: 0px 15px;">
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Anna Brown</span><br/>
											<span class="f13">Senior Recruiter</span><br/>
											<span class="f13">FS Dallas Alphas</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Jenny Anistone</span><br>
											<span class="f13">Senior Recruiter</span><br/>
											<span class="f13">FS Dallas Alphas</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Eric Cooper</span><br>
											<span class="f13">Recruiter</span><br/>
											<span class="f13">FS Dallas Alphas</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Sharma Jyoti</span><br>
											<span class="f13">Recruiter</span><br/>
											<span class="f13">FS Houston</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Saxena Pratee..</span><br>
											<span class="f13">Saxena Prateechee</span><br/>
											<span class="f13">KICK</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
						<li class="recuritmentMembers">
							<div class="col-md-12">
								<div class="row mt10 mb10">
									<div class="col-md-5">
										<div class="row pl8">
											<img src="content/images/candidate_pic1.png" alt="">
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<span class="clientName">Anna Brown</span><br>
											<span class="f13">Senior Recruiter</span><br/>
											<span class="f13">FS Dallas Alphas</span>
										</div>
									</div>
								</div>
								<div class="row teamContact">
								
									<p><i class="fa fa-envelope mr8 clrblue" aria-hidden="true"></i>johnywills@gmail.com</p>
									<p><i class="fa fa-phone mr8 clrblue" aria-hidden="true"></i>612.543.2932</p>
									<p><i class="fa fa-lg fa-mobile mr8 clrblue" aria-hidden="true"></i>972.374.4983</p>
								
								</div>
								<div class="row mt10 mb10">
									<div class="col-md-12">
									<span class="f12 clr919191">Working On:</span><br/>
									<span class="f13">1029102    Supply Chain Director</span><br/>
									<span class="f13">1029102   Techanical Architect</span><br/>
									<a href="#">3 more</a>
									</div>
								</div>
								
							</div>
						</li>
					</ul>
				</div>
			</div>
