<div id="pdflist" class="WidgetJP">
    <div class="HeaderButton"><a ng-click="initiateSearch();" class="btn btn-primary btn-sm">Initiate Candidate Search</a></div>
    <ul>
        <li ng-repeat="pdfDtls in pdfDetailsData">
            <div class="WidgetPDBox" ng-click="changePdf(pdfDtls.id, pdfDtls.docType)">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='1' value="{{pdfDtls.id}},{{pdfDtls.docType}}">
                    <label>{{pdfDtls.fileName}}</label>
                </div>
                <div class="WidgetPDContent"> <img ng-if="pdfDtls.docType == 'R'" src="content/images/jobprofile.jpg"> <img ng-if="pdfDtls.docType == 'O'" src="content/images/others.jpg"> <img ng-if="pdfDtls.docType == 'E'" ng-src="data:image/JPEG;base64,{{pdfDtls.documentLogo}}" style="width:209px; height:140px;"></div>
            </div>
        </li>
        <!--   <li>
            <div class="WidgetPDBox"  ng-click="changePdf('2')">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='2' value='2'>
                    <label>Benchmark profile</label>
                </div>
                <div class="WidgetPDContent" ><img src="content/images/pdf2.jpg"> </div>
            </div>
        </li>
        <li>
            <div class="WidgetPDBox" ng-click="changePdf('3')">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='3' value='3'>
                    <label>Benchmark profile</label>
                </div>
                <div class="WidgetPDContent"><img src="content/images/pdf3.jpg"> </div>
            </div>
        </li> -->
    </ul>
</div>
