<div id="pdflist" class="WidgetJP">
    <div class="HeaderButton"><a href="#/NewSearch" class="btn btn-primary btn-sm">Initiate Candidate Search</a></div>
    <ul>
        <li>
            <div class="WidgetPDBox">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='1' value='1'>
                    <label>GSK Job Description</label>
                </div>
                <div class="WidgetPDContent" ng-click="changePdf('1')"><img src="content/images/pdf1.jpg"> </div>
            </div>
        </li>
        <li>
            <div class="WidgetPDBox">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='2' value='2'>
                    <label>Benchmark profile</label>
                </div>
                <div class="WidgetPDContent"  ng-click="changePdf('2')"><img src="content/images/pdf2.jpg"> </div>
            </div>
        </li>
        <li>
            <div class="WidgetPDBox">
                <div class="WidgetPDHeader">
                    <input type="checkbox" name='3' value='3'>
                    <label>Benchmark profile</label>
                </div>
                <div class="WidgetPDContent"  ng-click="changePdf('3')"><img src="content/images/pdf3.jpg"> </div>
            </div>
        </li>
    </ul>
</div>