<link rel="stylesheet" href="content/ralleyverse/css/hub.css">
<div class="container-fluid clearfix MarTp15 RallyVerse">
    <div id="messages" style="position: relative; height: 1305px;" ng-controller="rallyVerseController" class="clearfix">

        <div class="col-md-3 col-lg-2" ng-repeat="row in rallyVerseItem">
            <div id="{{row.id}}" class="message">
                <div class="photo asset" style="background-image: url({{row.asset_url}}); background-position: center center;"></div>
                <div class="content">
                    <div class="text">  <div class="TextTitle"> {{row.title}} </div> <a href="{{row.short_url}}" target="_blank">{{row.short_url}}</a> </div>
                </div>
                <div class="meta-bar clearfix">
                    <!--<div class="logo-social-network logo-slideshare icon pull-left"></div>-->
                    <div class="source-name pull-left">{{row.source}}</div>
                </div>
                <div class="clearfix" style="clear:both;"></div>
                <div class="social-sharing">
                    <div class="share share-tw pull-left"> <img width="30" height="30" src="content/images/twitter.png" alt="share twitter"> </div>
                    <div class="share share-fb pull-left"> <img width="16" height="30" src="content/images/facebook.png" alt="share facebook"> </div>
                    <div class="share share-li pull-left"> <img width="30" height="30" src="content/images/linkedin.png" alt="share linkedin"> </div>
                    <div class="share share-gplus pull-left"> <img width="38" height="30" src="content/images/google.png" alt="share google+"> </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
