<html>
 <head>
  <script>
   //Close Window Script

    function SetIt(){
      //Need to store Page for Netscape Look Up
      ThePage=document.location.href;
    }
    function close(){

      if(document.all){
        var tempX = event.clientX + document.body.scrollLeft;
        var tempY = event.clientY + document.body.scrollTop;
        //If mouse is over X will return very very large negative numbers
          if(tempX<0&&tempY<0){
            ItBClosed();
          }
      }
      else{
        //Detects Back/Forward Buttons and Location Box Launching
          ThisPage=document.location.href;
          if(ThePage!=ThisPage){
            //Different Location detected
          }
          else{
            ItBClosed();
          }
      }
    }
    function ItBClosed(){
      alert('The Window Is closed');
    }
   </script>
 </head>
 <body onunload="close()" on_load="SetIt()">
     Successfully logged out
   <a href="about:blank">CLOSE</a>
 </body>
</html>
