<div class="Heading2">
    <h2>Job Profile Summary</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default ViewBox" ng-show="freeSearch.radioModel">
            <div class="panel-body" style="height:245px; overflow-y: scroll; ">
                <trix-editor angular-trix ng-model="data.Description" class="trix-content"></trix-editor>
            </div>
        </div>
        <div class="panel panel-default ViewBox" ng-hide="freeSearch.radioModel">
            <div class="panel-body" style="height:245px; overflow-y: scroll; ">
                <trix-editor angular-trix ng-model="freeSearch.Description" class="trix-content"></trix-editor>
            </div>
        </div>
    </div>
   <!-- <div class="col-md-4">
        <div class="panel panel-default ViewBox">
            <div class="panel-body">
                <div class="row">
                    <div class="FormBox MarBt15 col-sm-12 col-md-12 col-lg-12">
                        <label class="FormLabel"> Job Type </label>
                        <input class="input-sm form-control FormInput" type="search"> </div>
                    <div class="FormBox MarBt15 col-sm-12 col-md-12 col-lg-12">
                        <label class="FormLabel"> Pay Rate </label>
                        <input class="input-sm form-control FormInput" type="search"> </div>
                    <div class="FormBox MarBt15 col-sm-12 col-md-12 col-lg-12">
                        <label class="FormLabel"> Experience (Years) </label>
                        <rzslider rz-slider-model="vm.priceSlider7.minValue" rz-slider-high="vm.priceSlider7.maxValue" rz-slider-options="vm.priceSlider7.options"></rzslider>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<div class=" row">
    <!--<div class="col-md-12 pb15">
        <div class="Heading2 HeadingFloat clearfix">
            <h2>Weightage</h2> </div>
        <div class="panel panel-default ViewBox">
            <div class="panel-body">
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobTile">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Title</label>
                        <rzslider rz-slider-model="vm.priceSlider1.value" rz-slider-options="vm.priceSlider1.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobSkills">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Skills</label>
                        <rzslider rz-slider-model="vm.priceSlider2.value" rz-slider-options="vm.priceSlider2.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobCompany">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Company</label>
                        <rzslider rz-slider-model="vm.priceSlider3.value" rz-slider-options="vm.priceSlider3.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobDuration">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Duration</label>
                        <rzslider rz-slider-model="vm.priceSlider4.value" rz-slider-options="vm.priceSlider4.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobIndustry">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Industry</label>
                        <rzslider rz-slider-model="vm.priceSlider5.value" rz-slider-options="vm.priceSlider5.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobPromotion">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Promotion</label>
                        <rzslider rz-slider-model="vm.priceSlider6.value" rz-slider-options="vm.priceSlider6.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 MarBt15 jobWeightage" id="jobTitleDuration">
                    <div class="ViewBoxSlider">
                        <label class="FormLabel">Job Title Duration</label>
                        <rzslider rz-slider-model="vm.priceSlider8.value" rz-slider-options="vm.priceSlider8.options"></rzslider>
                        <show-code js-file="slider_ticks_values" html-file="singleSlider"></show-code>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
<div class="row MarBt15">
    <div class="col-md-12 col-lg-12 ButtonSection clearfix"> <a class="btn btn-save btn-konferry" ng-click="save(freeSearch.radioModel)">Save</a>
        <a href="#" class="btn btn-cancel btn-konferry btn-default disabled">Cancel</a> </div>
</div>
