<div class="Heading2">
    <h2>New Search</h2></div>
<div class="panel panel-default SearchBox"> <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="panel-body">
        <div class="row MarBt15 clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="freeSearch.radioModel" uib-btn-radio="true">Requisition</label>
                    <label class="btn btn-default" ng-model="freeSearch.radioModel" uib-btn-radio="false">Free Search</label>
                </div>
            </div>
        </div>
        <div ng-show="freeSearch.radioModel">
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel"> Requisition Name (or) ID <span class="Mandatory">*</span></label>
                    <input class="input-sm form-control FormInput" type="search" ng-model="vm.name" uib-typeahead="address for address in requisition | filter:$viewValue | limitTo:8" typeahead-on-select="fillData($item, $model, $label, $event);"> </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Job Title (Search Name) <span class="Mandatory">*</span></label>
                    <input class="input-sm form-control FormInput" type="search" ng-model="data.JobTitle"> </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Client Name</label>
                    <input class="input-sm form-control FormInput" type="search" ng-model="data.job_client"> </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Open Positions</label>
                    <input class="input-sm form-control" type="search" ng-model="data.NoOfPositions"> </div>
            </div>
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Country</label>
                    <input class="input-sm form-control" type="search" ng-model="data.Country"> </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Location</label>
                    <input class="input-sm form-control" type="search" ng-model="data.Location"> </div>
                <div class="col-sm-6 col-md-1 col-lg-1">
                    <label class="FormLabel">Zip Code</label>
                    <input class="input-sm form-control" type="search" ng-model="data.ZipCode"> </div>
                <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                    <label class="FormLabel"> Miles</label>
                    <select class="form-control" required ng-model="data.Miles" ng-options='option for option in milesOptions'>
                    </select>
                </div>
            </div>
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label class="FormLabel">Job Title Synonyms</label>
                    <input class="input-sm form-control" type="search" ng-model="data.JobTitle_Synonyms"> </div>
                <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                    <label class="FormLabel"> Status</label>
                    <select class="selectpicker form-control"></select>
                </div>
            </div>
        </div>
        <div ng-hide="freeSearch.radioModel">
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-3 col-lg-3 InputTextBox">
                    <label class="FormLabel">Job Title <span class="Mandatory">*</span> </label> <span class="InputText">MANUAL -</span>
                    <input class="input-sm form-control FormInput" type="search" ng-model="freeSearch.JobTitle"> </div>
                <div class="col-sm-6 col-md-3 col-lg-3 FormSelect">
                    <label class="FormLabel"> Benchmark Profile</label>
                    <select class="selectpicker form-control" required ng-model='profileValue' ng-options='option for option in options' ng-change='updateSelectDocument(profileValue)'></select>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 FormSelect">
                    <label class="FormLabel">Select Document</label>
                    <select class="selectpicker trial form-control" required ng-model='docValue' ng-options='doc as doc.FileName for doc in pdfDoc' ng-change='updateViewProfile(docValue)'>
                        <option value="">Select Document</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-1 col-lg-1">
                    <label class="FormLabel">&nbsp;</label> <a ng-click="showPdf()"> View Profile </a> </div>
            </div>
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Country</label>
                    <input class="input-sm form-control" type="search" ng-model="freeSearch.country" uib-typeahead="country as country.CountryName for country in freeSearch.countries | filter:$viewValue" typeahead-on-select="fillDatsa($item, $model, $label, $event)" ;> </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <label class="FormLabel">Location</label>
                    <input class="input-sm form-control" type="search" ng-model="freeSearch.Location"> </div>
                <div class="col-sm-6 col-md-1 col-lg-1">
                    <label class="FormLabel">Zip Code</label>
                    <input class="input-sm form-control" type="search" ng-model="freeSearch.ZipCode"> </div>
                <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                    <label class="FormLabel"> Miles</label>
                    <select class="selectMiles selectpicker form-control" required ng-model="freeSearch.Miles" ng-options='option for option in milesOptions'>
                    </select>
                    </div>
                <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                    <label class="FormLabel"> &nbsp;</label>
                    <a href> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Location </a>
                </div>
            </div>
            <div class="row MarBt15 clearfix">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label class="FormLabel">Job Title Synonyms</label>
                    <input class="input-sm form-control" type="search" ng-model="freeSearch.JobTitle_Synonyms"> </div>
                <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                    <label class="FormLabel"> Status</label>
                    <select class="selectpicker form-control" ng-model="freeSearch.job_status">
                        <option value="" selected> Select </option>
                        <option value="Open"> Open </option>
                        <option value="Pending"> Pending </option>
                        <option value="Close"> Close </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default SearchBox" ng-show="freeSearch.radioModel">
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="FormLabel"> Search Criteria</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="data.SearchString"> </div>
        </div>
    </div>
</div>
<div class="panel panel-default SearchBox" ng-hide="freeSearch.radioModel">
    <div class="panel-body">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="FormLabel"> Search Criteria</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="freeSearch.SearchString"> </div>
        </div>
    </div>
</div>
