<div class="UpcomingEvents">
    <div class="Heading2 First">
        <h2>Last Engagements Closed</h2> 
    </div>
    <div class="Events">
        <div class="EventsContent clearfix">
        <div class="EventsDate">
            <div class="Day">03<span class="Month">Sep</span></div>
        </div>
        <div class="EventsNote">IBM Director Legal <span class="Month">89100</span></div>
        </div>
        
     <!--    <div class="EventsFooter clearfix">
            <div class="EventsFooterContent">
                <div class="EventLocation">New York</div>
                <div class="EventsTime"> 10:00 am to 04:00 pm </div>
            </div>
            <div class="EventsShare">
                <ul>
                    <li><a><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="Events">
        <div class="EventsContent clearfix">
        <div class="EventsDate">
            <div class="Day">03<span class="Month">Sep</span></div>
        </div>
        <div class="EventsNote">IBM Director Finance <span class="Month">89100</span></div>
		
        </div>
        
     <!--    <div class="EventsFooter clearfix">
            <div class="EventsFooterContent">
                <div class="EventLocation">New York</div>
                <div class="EventsTime"> 10:00 am to 04:00 pm </div>
            </div>
            <div class="EventsShare">
                <ul class="clearfix">
                    <li><a><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
	 <div class="Events">
        <div class="EventsContent clearfix">
        <div class="EventsDate">
            <div class="Day">30<span class="Month">Sep</span></div>
        </div>
        <div class="EventsNote">IBM Director Finance <span class="Month">89100</span></div>
	
        </div>
        
     <!--    <div class="EventsFooter clearfix">
            <div class="EventsFooterContent">
                <div class="EventLocation">New York</div>
                <div class="EventsTime"> 10:00 am to 04:00 pm </div>
            </div>
            <div class="EventsShare">
                <ul class="clearfix">
                    <li><a><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
</div>