<div id="pdflist">
<form>
<ul>
    <li ng-click="changePdf('1')"><input type="checkbox" name='1' value='1'><label>Benchmark profile</label><br />
    <img  src="content/images/space-1.jpg"></li>
    <li ng-click="changePdf('2')"><input type="checkbox" name='2' value='2'><label>Best in Class Profile SMB</label><br /><img src="content/images/nature-6.jpg"></li>
    <li ng-click="changePdf('3')"><input type="checkbox" name='3' value='3'><label>Best in Class Profile ENT</label>l<br /><img src="content/images/space-1.jpg"></li>
</ul>
</form>
</div>