<div class="Heading2 HeadingFloat clearfix modal-title">
    <h2>How can we help? </h2>
    <!--<span class="pullright" ng-click="close('Send')"><i class="fa fa-times" aria-hidden="true"></i></span>--></div>
<div class="modal-body">
    <div class="row mt15">
        <div class="col-md-6">
            <div class="row popup clearfix"> <i class="fa fa-comments-o fa-2x icons pull-left" aria-hidden="true"></i><span style="color: rgb(33, 96, 243);float:left;display:block;margin-top:36px;">Chat with Us</span>
                <div class="online">We are online</div>
                <!-- <ul style="margin: 0px;padding-left: 26px;"><li style="color: green;">We are online</li></ul> -->
            </div>
        </div>
        <div class="col-md-6"> <i class="fa fa-envelope fa-2x icons" aria-hidden="true"></i><span style="color: rgb(33, 96, 243);">Ask a question</span> </div>
    </div>
</div>
