<div class="Heading2 HeadingFloat clearfix BorderBottom">
    <h2>Save Documents Engagement</h2> <span class="HeaderButton pull-right">
      <a ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></a>
    </span> </div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-controller="pdfPopupController">
                <label class="FormLabel"> Engagement Name (or) ID</label>
                <input class="input-sm form-control FormInput" id="engagementID" type="search" ng-model="engagmentIDName" uib-typeahead="address for address in engagement | filter:$viewValue | limitTo:8"> </div>
        </div>
    </div>
    <div class="row MarTp15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="ButtonSection pull-right">
                <button ng-click="close()" type="Cancel" class="btn btn-default btn-sm">Cancel</button>
                <button ng-click="saveEngagment()" type="Save" class="btn btn-primary btn-sm">Save</button>
            </div>
        </div>
    </div>
    <div class="row MarTp15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul>
                <li ng-repeat="function in selectedFunctiontoShowinPopup">
                    <div class="List">{{function}} </div>
                </li>
            </ul>
            <span>{{message}}</span>
            <!--<div class="alert alert-success" role="alert"> {{message}} </div>-->
        </div>
    </div>
</div>