<div id="pdfBox">
    <span><a ng-click="$ctrl.openPdf('1')"><img style="height: 200px; width: 200px; padding : 20px;" src="content/images/nature-6.jpg"></a></span>
    <span><a ng-click="$ctrl.openPdf('2')"><img style="height: 200px; width: 200px; padding : 20px;" src="content/images/space-1.jpg"></a></span>
    <span><a ng-click="$ctrl.openPdf('3')"><img style="height: 200px; width: 200px; padding : 20px;" src="content/images/nature-6.jpg"></a></span>
    <span><a ng-click="$ctrl.openPdf('4')"><img style="height: 200px; width: 200px; padding : 20px;" src="content/images/space-1.jpg"></a></span>
</div>