<div class="Heading2">
    <h2>Requisitions Search</h2> <span class="HeaderButton pull-right">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-secondary btn-sm" uib-dropdown-toggle ng-disabled="disabled" ng-click="addNewReuqisitionClick()">Add New Requisition<span class="caret" ></span> </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="openTalentLinkIframe()">Talent Link</a></li>
        <li role="menuitem"><a href="" ng-click="openCrmIframe()">CRM</a></li>
        <li role="menuitem" class="disabled"><a href="#" onclick="return false;">Searcher Express</a></li>
    </ul>
</div>
</span>
</div>
<div class="panel panel-default SearchBox">
    <div class="panel-body">
        <div class="row MarBt15 clearfix">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <label class="FormLabel"> Requisition Name (or) ID</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="search.req"> </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <label class="FormLabel">Engagement Name</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="search.Engagement"> </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <label class="FormLabel">Client Name</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="search.Client" > </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <label class="FormLabel">Recruiter Name</label>
                <input class="input-sm form-control" type="search" ng-model="search.recruiter"> </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-6 col-md-3 col-lg-3 DatePicker" ng-controller="DatePickerCtrl">
                <label class="FormLabel">From</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.StartDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /> <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </span> </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 DatePicker" ng-controller="DatePickerCtrl">
                <label class="FormLabel">To</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.EndDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" /> <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
          </span> </div>
            </div>
            <!--<div class="col-sm-6 col-md-3 col-lg-3 RadioGroup">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> All </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Open </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Closed </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" id="option5" autocomplete="off"> Hold </label>
            </div>
        </div>-->
            <div class="col-sm-6 col-md-2 col-lg-2 clearfix">
                <label class="FormLabel">&nbsp;</label>
                <div class="FormCheckBox">
                    <input type="checkbox" id="myRequisitionsOnly" autocomplete="off">
                    <label for="myRequisitionsOnly" class="CheckBoxLable">My Requisitions Only</label>
                </div>
            </div>
        </div>
    </div>
</div>
