<div ng-controller="requisitionDocController">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Documents</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" template-url = "uibPagerKf.html" previous-text="" next-text=""></ul></span> <span class="pull-right MarRt15"><a class="btn btn-default btn-sm" ng-click="deleteDoc();"  ng-disabled="deleteButtonEnable"> Delete </a></span> <span class="pull-right MarRt15"><a class="btn btn-primary btn-sm" ng-click="uploadDocPdf();">Attach new document</a></span> </div>
    <div class="panel panel-default WidgetPD" id="pdfBox">
        <div class="panel-body">
            <ul class="clearfix">
                <li ng-repeat="pdfDtls in pdfDetailsData | orderBy:'-docType'">
                    <div class="WidgetPDBox">
                        <div class="WidgetPDHeader">
                            <input ng-if="pdfDtls.docType == 'R'" type="checkbox" ng-click="addId(pdfDtls.id)">
                            <label>{{pdfDtls.JobDesc}}</label>
                        </div>
                        <div class="WidgetPDContent" ng-click="openPdf(pdfDtls.id, pdfDtls.fileName, pdfDtls.docType);"><img src="content/images/pdf.jpg"> </div>
                        <div class="WidgetPDFooter">{{pdfDtls.fileName}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
