<div class="panel panel-default" ng-controller="requisitionHistoryController">
    <div class="panel-heading clearfix"> Requisition History <span class="TermSorting pull-right">
      <ul>
        <li ><a id="myReqs"  href="" ng-click="callmyClientRequisition('mygraph')">My Reqs</a></li>
  <li ><a id="clientReqs" href="" ng-click="callmyClientRequisition('company')" class="active">
  Client Reqs</a></li>
  <li class="FormSelect">
  <select id="rgsfsp" class="form-control" required ng-model='selectedEngagment' ng-change="update()">
  <option ng-repeat="option in allEngagments" value="{{option.Engagement}}" title="{{option.Engagement}}" >{{option.Engagement |truncate: 15}}</option>
  </select>
  </li>
  </ul>
  </span> </div>
    <div class="panel-body" style="height: 266px;"> <span us-spinner="{radius:10, width:2, length: 4}"></span>
        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-series="series" chart-click="onClick"></canvas>
    </div>

         <div class="panel-heading clearfix"><span class="TermSorting pull-right" style="
    width: 225px;
">
              <ul>
     <div ng-click="quaterCall($event);">
        <li><a href="#" >Q1</a></li>
        <li><a href="#">Q2</a></li>
        <li><a href="#">Q3</a></li>
        <li><a href="#" class="active">Q4</a></li>
            </div>
        <li class="FormSelect">

  <select ng-model='selectedYear' ng-change="yearCall()">
  <option>2016</option>
  <option>2015</option>
  <option>2014</option>
  </select>
  </li>

    </ul>
             </span>
</div>
</div>
