<div class="DataListBox">
    <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Requisitions({{filterData.length}})</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="filterData.length" template-url = "uibPagerKf.html"  ng-model="currentPage" previous-text="" next-text=""></ul></span>
</div>

<div st-table="displayedCollections" st-safe-src="rowCollection" class="RequisitionTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="SortDefault" st-toggle-column st-sort="ReqNumber">Requisition</th>
                <th class="SortDefault" st-toggle-column st-sort="Data.data[0].open_positions">Open Positions</th>
                <th class="SortDefault" st-toggle-column st-sort="Engagement">Engagement</th>
                <th class="SortDefault" st-toggle-column st-sort="Client">Client Name</th>
                <th class="SortDefault" st-toggle-column st-sort="Source">Source</th>
                <th class="SortDefault" st-toggle-column st-sort="Recruiter[0].firstName">Recruiter Name</th>
                <th style="width:64px;">Sourced</th>
                <th style="width:71px;">Screened</th>
                <th style="width:74px;">Submitted</th>
                <th style="width:82px;">Interviewed</th>
                <th style="width:60px;">Offered</th>
                <th style="width:70px;">Accepted</th>
                <th style="width:80px;" class="SortDefault" st-toggle-column st-sort="Data.data[0].open_days">Days Open</th>
                <th style="width:60px;" class="SortDefault" st-toggle-column st-sort="status">Status</th>
                <th style="width:30px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr  ng-repeat="row in filterData = (displayedCollections | myfilter:search | mydate:date) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <td st-toggle-item>
                    <div class="TblRequisition"><a href ng-click="changeActivelink(row, 'RequisitionDetails/3')">{{row.ReqNumber + ' ' + row.JobTitle}}</a></div>
                    <div class="TblDates">{{row.StartDate}}-{{row.EndDate}}</div>
                </td>
                <td st-toggle-item>
                    <div class="TblResources">{{row.Data.data[0].open_positions}}</div>
                </td>
                <td st-toggle-item><a ui-sref="engagementDetails({tab:1})" ng-click="onSelectEngagementPerID(row.EngagementId, row.engagementType )">{{row.Engagement}}</a></td>
                <td st-toggle-item>{{row.Client}}</td>
                <td st-toggle-item>{{row.Source}}</td>
                <td st-toggle-item>{{row.Recruiter[0].firstName + ' ' + row.Recruiter[0].lastName}}</td>
                <td st-toggle-item>{{row.Data.data[0].sourced}}</td>
                <td st-toggle-item>{{row.Data.data[0].screen}}</td>
                <td st-toggle-item>{{row.Data.data[0].submit}}</td>
                <td st-toggle-item>{{row.Data.data[0].interview}}</td>
                <td st-toggle-item>{{row.Data.data[0].offer}}</td>
                <td st-toggle-item>{{row.Data.data[0].accept}}</td>
                <td st-toggle-item>
                    <button class="TblButton" title="{{row.Data.data[0].reason}}">
                    <div class="TblDays" ng-class="row.Data.data[0].color">{{row.Data.data[0].open_days}} <!--{{parseInt(row.Data.data[0].open_days)}}-->
                        <!--ng-bind="displayVal({{row.Data.data[0].open_days}})"-->
                        </div>
                        </button>
                </td>
                <td st-toggle-item>{{row.status}}</td>
                <td st-toggle-item>
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="pencil-button" type="button" class="btn btn-pencil btn-sm" uib-dropdown-toggle ng-disabled="disabled"><img id="pencil-img" src="content/images/edit_icon.png" alt="" ><span class="caret"></span> </button>
                <ul class="dropdown-menu dropdown-pencil" uib-dropdown-menu role="menu" aria-labelledby="pencil-button">
                    <li role="menuitem"><a href="" ng-click="openTalentLinkIframe()">Talent Link</a></li>
                    <li role="menuitem" class="disabled"><a href="" ng-click="openCrmIframe()">CRM</a></li>
                    <li role="menuitem" class="disabled"><a href="#">Searcher Express</a></li>
                </ul>
                </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

