<div class="panel panel-default" ng-controller="requisitionStatusController">
     <div class="panel-heading clearfix">Requisition Status <span class="TermSorting pull-right">
    <ul>
    <li ><a id="myReqsSource"  href="" ng-click="callmyClientRequisition('mygraph')">My Reqs</a></li>
    <li ><a id="clientReqsSource" href="" ng-click="callmyClientRequisition('company')" class="active">
Client Reqs</a></li>
    <li class="FormSelect">
        <select id="reqStatus"  class=" form-control" required ng-model='selectedEngagment' ng-change="update()">

             <option ng-repeat="option in allEngagments" value="{{option.Engagement}}" title="{{option.Engagement}}" >{{option.Engagement |truncate: 15}}</option>

        </select>
</li>
    </ul>
    </span> </div>
    <div class="panel-body" style="height: 266px;">
        <canvas id="bar" class="chart chart-bar" chart-data="candidatePipelineData[0].data" chart-labels="candidatePipelineData[0].label" chart-series="candidatePipelineData[0].series" chart-click="onClick"> </canvas>
         <div class="panel-heading clearfix" style="
    height: 47px;
"><span class="TermSorting pull-right" ></span></div>
        <!--  <canvas id="bar" class="chart chart-bar"
  chart-data="data" chart-labels="labels" chart-series="series" chart-colours="datasetOverride" >
    </canvas>-->
    </div>
</div>
