<div class="panel panel-default SearchBox BorderNull">
    <div class="panel-body">
        <div class="row MarBt15 clearfix">
            <div class="col-sm-6 col-md-2 col-lg-2">
                <label class="FormLabel"> Candidate Name (or) ID</label>
                <input class="input-sm form-control FormInput" type="search" ng-model="name" uib-typeahead="address for address in candidateName | filter:$viewValue | limitTo:8"> </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <label class="FormLabel">Client Name</label>
                <input class="input-sm form-control FormInput" type="search"> </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <label class="FormLabel">Recruiter Name</label>
                <input class="input-sm form-control FormInput" type="search"> </div>
            <div class="col-sm-6 col-md-2 col-lg-2 FormSelect">
                <label class="FormLabel">All Saved Searches</label>
                <select id="searchSavedSearchesList" class="selectpicker form-control">
          <option selected="" value="All Saved Searches (4)">All Saved Searches (4)</option>
          <option value="Supply Chain Head">Supply Chain Head</option>
          <option value="Supply Chain President">Supply Chain President</option>
          <option value="Supply Chain Lead">Supply Chain Lead</option>
        </select>
                 </div>
            <div class="col-sm-6 col-md-1 col-lg-1 pull-right">
                <div class="HeaderButton"><a ng-click="newSearch()" class="btn btn-primary btn-sm">New Search</a></div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1 pull-right">
                <button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="searchlist(name)">GO</button>
            </div>
          <div class="col-sm-6 col-md-2 col-lg-2 pull-right">
                <label class="FormLabel">&nbsp;</label>
              <a class="pull-right" href="#">View Search Criteria</a> </div>
        </div>
        <div class="row clearfix">

        </div>
    </div>
</div>
