<div class="Heading2">
    <h2>Job Profile Summary</h2> </div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default ViewBox">
            <div class="panel-body" style="height:310px">
                <div ng-bind-html="vm.criteria.Description"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default ViewBox">
            <div class="panel-body">
                <h3>Job Type</h3>
                <ul class="jobUl">
                    <li class="jobLi" style="background-color: #86c6da;color:white;">Full Time</li>
                    <li class="jobLi">Part Time</li>
                    <li class="jobLi">Contract</li>
                </ul>
                <h5 class="mt30">Pay rate</h5>
                <h6>rate</h6>
                <hr>
                <h3>EXPERIENCE</h3>
                <input class="input-range" type="range" min="0" max="30" step="1" value="15" ng-model="vm.criteria.MaxExp"><span class="jobspan" id="range">15</span> </div>
        </div>
    </div>
</div>
<div class=" row">
    <div class="col-md-12 pb15">
        <div class="panel panel-default ViewBox">
            <div class="panel-body">
                <h3>Weightage</h3>
                <div class="col-md-3 jobWeightage" id="jobTile">
                    <div class="row">
                        <h4>Title</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="5"><span class="jobspan">5</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobSkills">
                    <div class="row">
                        <h4>Skills</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="5"><span class="jobspan">5</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobCompany">
                    <div class="row">
                        <h4>Company</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="3"><span class="jobspan">3</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobDuration">
                    <div class="row">
                        <h4>Duration</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="4"><span class="jobspan">4</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobIndustry">
                    <div class="row">
                        <h4>Industry</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="5"><span class="jobspan">5</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobPromotion">
                    <div class="row">
                        <h4>Promotion</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="1"><span class="jobspan">1</span> </div>
                </div>
                <div class="col-md-3 jobWeightage" id="jobTitleDuration">
                    <div class="row">
                        <h4>Job Title Duration</h4>
                        <input class="fl input-range" type="range" min="1" max="5" step="1" value="3"><span class="jobspan">3</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <a href="#RequisitionDetails/3" class="btn btn-primary" ng-click="vm.save()">Save</save>
        <a href="#" class="btn btn-default disabled">Cancel</a>
    </div>
</div>
