<div id="searchListCandidateDetails" style="display:none; overflow:hidden">
<a href="" class="btn btn-primary btn-sm IframeBtn" id="searchResultBack" ng-click="searchResultBack();"> Back </a>
<!--<iframe frameborder="0" scrolling="no" style="width:1000px; height:1000px; margin-top:-80px;"></iframe>-->
<form id="arya" target="iframe"  method="post" >
    <input type="hidden" name="LoginName" />
    <input type="hidden" name="Password"/>
    <input type="hidden" name="btnSubmit" value="Login"/>
    <input type="hidden" name="ReturnUrl"/>
</form>
<iframe name="iframe" frameborder="0" scrolling="yes" style="width:1000px; height:1000px; margin-top:-80px; margin-left:50px; margin-right:-20px"></iframe>
</div>
