<div class="DataListBox">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Search Results({{rowCollection.length}})</h2> <span class="pull-left HeaderLink"><a ng-click="refreshResults();"><i class="fa fa-refresh" aria-hidden="true"></i>
 Refresh Results </a></span> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" template-url = "uibPagerKf.html"  previous-text="" next-text=""></ul></span> </div>
    <div ng-show="listVisible" st-table="displayedCollections" st-safe-src="rowCollection" class="table table-striped">
        <table class="table table-striped">
            <thead>
                <tr>
                   <th class="SortDefault"  st-toggle-column st-sort="candidateName">Candidate Name</th>
                   <th class="SortDefault"  st-toggle-column st-sort="jobTitle">Title</th>
                   <th class="SortDefault"  st-toggle-column st-sort="location">Location</th>
                   <th class="SortDefault"  st-toggle-column st-sort="currentCompany">Current Company</th>
                   <th class="SortDefault"  st-toggle-column st-sort="SourceType">Source</th>
                   <th class="SortDefault"  st-toggle-column st-sort="UpdatedOn">Updated On</th>
                   <th st-toggle-column></th>
                </tr>
            </thead>
            <tbody>
                <span us-spinner="{radius:10, width:2, length: 4}"></span>
                <tr st-select-row="row" ng-repeat="row in displayedCollections  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td st-toggle-item>
                        <div class="TblRequisition"><a ng-click="openSearchIframe(row.candidateId)">{{row.candidateName}} </a></div>
                    </td>
                    <td st-toggle-item>{{row.jobTitle}}</td>
                    <td st-toggle-item>{{row.location}}</td>
                    <td st-toggle-item>{{row.currentCompany}}</td>
                    <td st-toggle-item>{{row.SourceType}}</td>
                    <td st-toggle-item>{{row.UpdatedON | date:dd.mm.yy }}</td>
                    <td st-toggle-item ng-bind-html = 'Status(row)'></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
