<div class="DataListBox">
    <!--<div class="Heading2 HeadingFloat clearfix">
        <h2>Search Results({{rowCollection[0].TotalCount}})</h2> <span class="pull-left HeaderLink"><a ng-click="refreshResults();"><i class="fa fa-refresh" aria-hidden="true"></i>
 Refresh Results </a></span>
    <span class="pull-right HeaderPaging">
            <ul class="pager">
            <li class="previous" ><a ng-click='prev();'>  </a></li>
            <li class="CurrentPage"><span> {{end}} of </span></li>
                 <li class="TotalPage"><span> {{rowCollection[0].TotalCount}} </span></li>
                <li class="next"><a ng-click='next();'>  </a></li>
            </ul>
        </span>
    </div>-->
    <div class="Heading2 HeadingFloat clearfix">
        <h2>Saved Searches({{filterlist.length}})</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="filterlist.length" template-url = "uibPagerKf.html"  ng-model="currentPage" previous-text="" next-text=""></ul></span> </div>
    <div st-table="displayedCollections" st-safe-src="rowCollection" class="SearchTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="SortDefault" st-toggle-column st-sort="SearchName">Search Name</th>
                    <th class="SortDefault" st-toggle-column st-sort="RequisitionName">Requistion Name</th>
                    <th class="SortDefault" st-toggle-column st-sort="Location">Location</th>
                    <th class="SortDefault" st-toggle-column st-sort="Client">Client</th>
                    <th class="SortDefault" st-toggle-column st-sort="RecruiterName">Recruiter Name</th>
                    <th class="SortDefault" st-toggle-column st-sort="CreatedDate">Created On</th>
                    <th class="SortDefault" st-toggle-column st-sort="Status">Status</th>
                    <th class="SortDefault" st-toggle-column st-sort="SourcedCount">Sourced</th>
                    <th class="SortDefault" st-toggle-column st-sort="Results">Result</th>
                    <th st-toggle-column></th>
                </tr>
            </thead>
            <tbody> <span us-spinner="{radius:10, width:2, length: 4}"></span>
                <tr ng-repeat="row in filterlist = ( displayedCollections  | myfilter : search ) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <td st-toggle-item>
                        <div class="TblRequisition"><a ng-click="initiateSearch(row.ClientJobID)">{{row.SearchName}} </a></div>
                    </td>
                    <td st-toggle-item>{{row.RequisitionName}}</td>
                    <td st-toggle-item>{{row.Location}}</td>
                    <td st-toggle-item>{{row.Client}}</td>
                    <td st-toggle-item>{{row.RecruiterName}}</td>
                    <td st-toggle-item>{{row.CreatedDate | date:dd.mm.yy }}</td>
                    <td st-toggle-item>{{row.Status}}</td>
                    <td st-toggle-item><a href="" ng-click="openIframe(row.AryaJobID, 'sourced')">{{row.SourcedCount}}</a></td>
                    <td st-toggle-item><a href="" ng-click="openIframe(row.AryaJobID, 'social')">{{row.Results}}</a></td>
                    <td>
                        <a href=""><img ng-click="onClickAryaStatusIcon(orgID, row.AryaJobID, row.AryaStatus,  $index)" ng-src="content/images/{{rowCollection[$index].AryaStatus}}.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
