<div class="UpcomingEvents">
    <div class="Heading2 MarginNone">
        <h2>Upcoming Events</h2> 
    </div>
   <!--<div class="Events">
        <div class="EventsContent clearfix">
        <div class="EventsDate">
            <div class="Day">03<span class="Month">Sep</span></div>
        </div>
        <div class="EventsNote">Certifications: Korn Ferry Leadership Architect</div>
        </div>
        
        <div class="EventsFooter clearfix">
            <div class="EventsFooterContent">
                <div class="EventLocation">New York</div>
                <div class="EventsTime"> 10:00 am to 04:00 pm </div>
            </div>
            <div class="EventsShare">
                <ul>
                    <li><a><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
  <div class="Events">
        <div class="EventsContent clearfix">
        <div class="EventsDate">
            <div class="Day">03<span class="Month">Sep</span></div>
        </div>
        <div class="EventsNote">Certifications: Korn Ferry Leadership Architect</div>
        </div>
        
        <div class="EventsFooter clearfix">
            <div class="EventsFooterContent">
                <div class="EventLocation">New York</div>
                <div class="EventsTime"> 10:00 am to 04:00 pm </div>
            </div>
            <div class="EventsShare">
                <ul class="clearfix">
                    <li><a><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                    <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>-->
     <div class="Events" style="height:400px; color:#333;">
        Coming Soon...
    </div>
</div>