<div ng-controller="engagementGridController">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>View Requisition</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" previous-text="" next-text=""></ul></span><span class="HeaderButton pull-right"><button type="submit" class="btn btn-primary btn-sm">New Search</button></span> </div>
    <div class="panel panel-default ViewBox">
        <div class="panel-body PaddingNull">
            <ul class="ViewBoxList clearfix EngagementsView MarBtNull">
                <li ng-repeat="item in filtered = rowCollection | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <div class="row ViewBox clearfix PadRt15">
                        <div class="col-sm-9 col-md-9 col-lg-9 PadRtNull">
                            <div class="ViewBoxHeader PadTp15 clearfix">
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="PrimaryHeader"> <a href="#EngagementDetails"> {{item.requisitionNumber}} <span>{{item.requisitionTitle}}</span></a></div>
                                    <div class="ViewBoxCount">{{item.RequsitionCount}}</div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="ViewBoxDate"> {{item.StartDate}} - {{item.EndDate}} </div>
                                    <div class="ViewBoxStatus">
                                        <select>
                                            <option value="Open">Open</option>
                                            <option value="Hold">Hold</option>
                                            <option value="Close">Close</option>
                                        </select>
                                    </div>
                                    <div class="ViewBoxDays">{{item.DaysLeft }} Days</div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 pull-right">
                                    <ul class="ViewBoxActions clearfix">
                                        <!--<li><a href="#"><i class="fa fa-signal" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></li>-->
                                        <li class="disabled"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ViewBoxContent clearfix">
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="ViewBoxCompanyName">{{item.Client}} {{item.Industry}}</div>
                                    <div class="ViewBoxCompanyLocation">{{item.location.city}}</div>
                                    <div class="ViewBoxFinalStatus">{{item.Status}}</div>
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2">
                                    <div class="ViewBoxCompanyName">Engagement</div>
                                    <div class="SecondaryHeader"><a href="#EngagementDetails"> {{item.EngagementNumber}} <span>{{item.Engagement}}</span></a></div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="ViewBoxHeadName">Primary Recruiter</div>
                                    <div class="ViewBoxImage"><img src="content/images/user.jpg" alt=""></div>
                                    <div class="ViewBoxInfo">
                                        <div class="ViewBoxName">{{engagementResponse.EngagementConsultant.UserName}} Primary Recruiter Name</div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-12 col-md-3 col-lg-3" ng-show="engagementResponse.engagmentUsers.length>1">-->
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="ViewBoxHeadName">&nbsp;</div>
                                    <div class="ViewBoxTeamImg"><img src="content/images/usergroup.jpg" alt=""></div>
                                    <div class="ViewBoxInfo">
                                        <div class="ViewBoxName" uib-dropdown on-toggle="toggled(open)"> <a href id="RecruitmentTeamDropdown" uib-dropdown-toggle>({{engagementResponse.engagmentUsers.length}}) More <span class=" fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu ViewDropBox" uib-dropdown-menu aria-labelledby="RecruitmentTeamDropdown">
                                                <li ng-repeat="recruiterName in engagementResponse.engagmentUsers">
                                                    <a href class="clearfix">
                                                        <div class="ViewDropImage"><img src="content/images/user.jpg" alt=""></div>
                                                        <div class="ViewDropInfo">
                                                            <div class="ViewDropName">{{recruiterName.UserName}}</div>
                                                            <div class="ViewDropDesignation">{{recruiterName.Role}} </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="ViewBoxBtn">
                                        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Me</button>
                                        <button type="submit" class="btn btn-primary btn-sm hidden"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Recruiter</button>
                                    </div>
                                    <div class="pull-right ViewBoxHire">
                                        <div class="ViewBoxHeadName">Hired</div>
                                        <div class="ViewBoxHireStatus"><span class="HireValue">0</span> <span class="HireStatus">1 <i class="fa fa-arrow-down" aria-hidden="true"></i>
</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 ViewBoxRight">
                            <div class="UpcomingEvents">
                                <div class="Heading2 MarginNone">
                                    <h2>Client Calibration</h2> </div>
                                <!--<div class="Events MarBtNull">
                                    <div class="EventsContent clearfix">
                                        <div class="EventsDate">
                                            <div class="Day">07<span class="Month">Sep</span></div>
                                        </div>
                                        <div class="EventsInfo">
                                        <div class="EventsNote">Jeck Lee</div>
                                        <div class="EventsTime"> 10:00 am to 04:00 pm </div>
                                        </div>
                                    </div>
                                    <div class="EventsFooter">
                                        <div class="EventsPending">
                                            2 Video Interviews Pending
                                        </div>
                                    </div>
                                </div>-->
                                <div class="Events" style="height:120px; color:#333;"> Coming Soon... </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
