<div ng-controller="engagementperIDRequisitionController">
    <div class="Heading2 HeadingFloat clearfix">
        <h2>View Engagement</h2> <span class="pull-right HeaderPaging"><ul uib-pager page="currentPage" max-size="noOfPages" items-per-page="entryLimit" total-items="totalItems" ng-model="currentPage" template-url = "uibPagerPf.html" previous-text="" next-text=""></ul></span><span class="HeaderButton pull-right">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-secondary btn-sm" uib-dropdown-toggle ng-disabled="disabled">Add New Requisition<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="" ng-click="openTalentLinkIframe()">Talent Link</a></li>
        <li role="menuitem"><a href="" ng-click="openCrmIframe()">CRM</a></li>
        <li role="menuitem" class="disabled"><a href="#">Searcher Express</a></li>
      </ul>
    </div></span> </div>
    <div class="panel panel-default ViewBox">
        <div class="panel-body">
            <ul class="ViewBoxList clearfix EngagementsView">
                <li  >
                    <div class="row ViewBox">
                        <div class="ViewBoxCompanyName  clearfix BorderBottom pb10">
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="PrimaryHeader">  {{engagementResponse.EngagementNumber}} <span>{{engagementResponse.Engagement}}</span></div>
                                <div class="ViewBoxCount">{{engagementResponse.Requisitions.length}}</div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="ViewBoxDate"> {{engagementResponse.StartDate}} - {{engagementResponse.EndDate}} </div>
                                <div class="ViewBoxFinalStatus viewStatus MarLt15">{{engagementResponse.Status}}</div>
                                <!--<div class="ViewBoxDays BGRed">{{engagementResponse.DaysLeft }} Days</div>-->
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 pull-right">
                                <ul class="ViewBoxActions clearfix">
                                    <li><a href="#"><img src="content/images/share_icon.png"></a></li>
                                    <li><a href="#"><img src="content/images/chat_icon.png"></a></li>
                                    <li><a href="#"><img src="content/images/mail_icon.png"></a></li>
                                    <li><a href="#"><img src="content/images/pin_icon.png"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="ViewBoxContent clearfix mt10">
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="ViewBoxCompanyName">{{engagementResponse.Client.ClientName}} {{engagementResponse.Client.Industry}}</div>
                                <div class="ViewBoxCompanyLocation">{{engagementResponse.Client.Location}}</div>
                                <div class="ViewBoxCompanyName">{{engagementResponse.Type}}</div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="ViewBoxHeadName">Client Contact</div>
                                <div class="ViewBoxImage"><img src="content/images/user.jpg" alt=""></div>
                                <div class="ViewBoxInfo">
                                <div class="ViewBoxName">{{engagementResponse.ClientContact.UserName}}</div>
                                <div class="ViewBoxDesignation">{{engagementResponse.ClientContact.Role}}</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="ViewBoxHeadName">Managing Consultant</div>
                                <div class="ViewBoxImage"><img src="content/images/user.jpg" alt=""></div>
                                <div class="ViewBoxInfo">
                                <div class="ViewBoxName">{{engagementResponse.EngagementConsultant.UserName}}</div>
                                <div class="ViewBoxDesignation">{{engagementResponse.EngagementConsultant.Role}}</div>
                                </div>
                            </div>
							 <div class="col-sm-12 col-md-3 col-lg-3" ng-show="engagementResponse.engagmentUsers.length>1">
                            <div class="ViewBoxHeadName">More</div>
                            <div class="ViewBoxImage"><img src="content/images/usergroup.jpg" alt=""></div>
                            <div class="ViewBoxInfo">
                                <div class="ViewBoxName" uib-dropdown on-toggle="toggled(open)"> <a href id="RecruitmentTeamDropdown" uib-dropdown-toggle>
                                    Recruitment Team <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu ViewDropBox" uib-dropdown-menu aria-labelledby="RecruitmentTeamDropdown">
                                        
                                        <li ng-repeat="recruiterName in engagementResponse.engagmentUsers">
                                            <a href class="clearfix">
                                                <div class="ViewDropImage"><img src="content/images/user.jpg" alt=""></div>
                                                <div class="ViewDropInfo">
                                                    <div class="ViewDropName">{{recruiterName.UserName}}</div>
                                                    <div class="ViewDropDesignation">{{recruiterName.Role}} </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                                    <div class="ViewBoxHeadName">&nbsp;</div>
                                    <div class="ViewBoxTeamImg"><img src="content/images/group_icon.png" alt=""></div>
                                    <div class="ViewBoxInfo">
                                        <div class="ViewBoxName" uib-dropdown on-toggle="toggled(open)"> <a href id="RecruitmentTeamDropdown" uib-dropdown-toggle> Recruitment Team <span class=" fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu ViewDropBox" uib-dropdown-menu aria-labelledby="RecruitmentTeamDropdown">
                                                <li ng-repeat="recruiter in recruiters">
                                                    <a href class="clearfix">
                                                        <div class="ViewDropImage"><img src="content/images/user.jpg" alt=""></div>
                                                        <div class="ViewDropInfo">
                                                            <div class="ViewDropName">{{recruiter.firstName + " " + recruiter.lastName}}</div>
                                                            <div class="ViewDropDesignation">{{recruiter.type}} </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
