<div class="container-fluid clearfix KFLayout">
    <div class="PadLtNull ContentBox">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_ViewEngagement.html'"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_RequisitionsTable.html'"></div>
            </div>
        </div>
    </div>
    <div class="SideBar" style="min-height:800px;">
       <div ng-include="'partial/_OtherEngagements.html'"></div>
        <div ng-include="'partial/_EngagementOverview.html'"></div>
    </div>
</div>



