<div class="container-fluid claerfix KFLayout">
    <div class="PadLtNull ContentBox">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_EngagementsSearch.html'"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_EngagementsTable.html'"></div>
            </div>
            <!--<div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_EngagementsGrid.html'"></div>
            </div> -->
        </div>
    </div>
    <div class="SideBar" style="min-height: 780px;">
       <div ng-include="'partial/_OtherEngagements.html'"></div>
        <div ng-include="'partial/_EngagementOverview.html'"></div>
    </div>
</div>



