<div class="container-fluid clearfix KFLayout">
    <div class="PadLtNull ContentBox">
        <div class="row claerfix">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_ViewEngagement.html'"></div>
            </div>
            <div id="pdfTabs" class="col-sm-12 col-md-12 col-lg-12 PaddingNull" ng-controller="requisitionCandidateListController" ng-init="indextab = showIndex">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Requisitions">
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div ng-include="'partial/_EngagementRequisitionsTable.html'"></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index='1' heading="Team" class="disabled"> Team </uib-tab>
                    <uib-tab index='2' heading="Client Information" class="disabled"> Client Information </uib-tab>
                    <uib-tab index='3' heading="Documents">
                        <div class="container-fluid clearfix">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12" ng-controller="engagementDocController">
                                    <div ng-include="'partial/_EngagementDesignDoc.html'"></div>
                                </div>
                            </div>
                        </div>                       
                    </uib-tab>
                    <uib-tab index='4' heading="Client Calibration" class="disabled"> Client Calibration </uib-tab>
                    <uib-tab index='5' heading="History" class="disabled"> History </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="SideBar" style="min-height:800px;">
        <div ng-include="'partial/_OtherEngagements.html'"></div>
        <div ng-include="'partial/_EngagementOverview.html'"></div>
    </div>
    
   
</div>