<div class="container-fluid claerfix" ng-controller="newSearchController">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-include="'partial/_NewSearchCandidateInfo.html'"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-include="'partial/_NewSearchCandidate.html'"></div>
        </div>
    </div>
</div>
<!--<div class="container-fluid claerfix" ng-controller="newSearchController">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_NewSearchCandidateInfo1.html'"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_FreeSearchCandidateInfo.html'"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div ng-include="'partial/_NewSearchCandidate1.html'"></div>
            </div>
        </div>
</div>-->
