<!--<div>
<iframe id='addNewRequisitionCRM' src=" https://ondemand.kf4d-stage.com/lambweston/workforce-insights?sso=true&ssoidprovider=recruiterdesktop" frameborder="0" scrolling="no" width="1000" height="1000" style="width:100%;"></iframe>
</div>-->
<div class="container-fluid clearfix">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div ng-include="'partial/_CandidatesCompare.html'"></div>
                    </div>
                </div>
            </div>
