<div class="container-fluid KFLayout clearfix" ng-controller="pdfPopupController">
    <span us-spinner="{radius:10, width:2, length: 4}"></span>
    <div class="PadLtNull ContentBox">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div ng-include="'partial/_ProfileDesignFilter.html'"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" >
            <div ng-include="'partial/_ProfileDesignDoc.html'"></div>
        </div>        
    </div>
    </div>
    <div class="SideBar" style="min-height: 780px;">
			<div class="profile">
				<p>
				Within Korn Ferry,there is a tremenduous amount of intellectual property that allow us to enhance
				our engagement with clients. If a <span style="font-weight:bold;">benchmark profile</span> does not exist, feel free to leverage the appropriate
				resources below. The resources below should only be used to support a client engagement.			
				</p>
				<div class="col-md-12 profileDiv">
					<h4 class="profileheading">Job Description from Hay Group</h4>
					<!-- <i class="fa fa-lg fa-info-circle mt15" aria-hidden="true"></i> -->
					<a href=""  data-toggle="tooltip" data-placement="bottom" title="By selecting the  “Create” button below, you will have access to functional and level-based descriptions that can be tailored as needed. Descriptions are available  for levels up to Sr. Director."><img src="content/images/exclamation_icon.png"/></a>
					<p>Access the Hay group library of job descriptions.</p>
					<button id="single-button" type="button" class="btn alertBtn btn-xs" uib-dropdown-toggle="" ng-click='postHayGroupToGetLink()' ng-disabled="disabled">Create
							</button>
				</div>
				<div class="col-md-12 profileDiv">
					<h4 class="profileheading">Compensation Data from Hay Group</h4>
					<a href=""  data-toggle="tooltip" data-placement="bottom" title="Benchmarks are derived from our compensation survey data and influenced by Job Grade and Location. For Vice President and higher positions, please select “request” and complete the form. Upon submission, a more detailed analysis will be conducted to generate the compensation benchmarks."><img src="content/images/exclamation_icon.png"/></a>
					<p>Access the Hay group tool that allows you to Grade and Price a job thereby allowing you access to compensation benchmarks.</p>
					<button id="single-button" type="button" class="btn alertBtn btn-xs mr4" uib-dropdown-toggle="" ng-click='postHayGroupToGetLink()'ng-disabled="disabled">Create
							</button>

					<a  target="_self" id="single-button" href="/json/Executive Mapping_5 27 16.xlsm"  onclick="return confirm('are you sure you want to download this file?');" download="executivemapping.xlsm" type="button" class="btn alertBtn btn-xs" uib-dropdown-toggle="" ng-disabled="disabled">File Downloaded
							</a>
				</div>
				<div class="col-md-12 profileDiv">
					<h4 class="profileheading">Supply and Demand</h4>
					<a href=""  data-toggle="tooltip" data-placement="bottom" title="This insightful information will allow you to manage client expectations relative to cycle time and sourcing strategies that should be considered."><img src="content/images/exclamation_icon.png"/></a>
					<p>Various sources to the supply, demand and projected growth of a role.</p>
					<button id="single-button" type="button" class="btn alertBtn btn-xs" uib-dropdown-toggle="" ng-disabled="disabled">Request
							</button>
				</div>
				<div class="col-md-12 profileDiv">
					<h4 class="profileheading">Research Links</h4>
					<a href=""  data-toggle="tooltip" data-placement="bottom" title="Hooray!"><img src="content/images/exclamation_icon.png"/></a>
					<p>Leverage the options below to conduct company specific research including identification of prospective
					candidates. Also available is a collection of curated articles on recruiting and talent trends.</p>
					<a href="{{factivaURL}}" target="_blank" id="single-button" type="button" class="btn alertBtn btn-xs mr4" uib-dropdown-toggle="" ng-disabled="disabled">FACTIVA
							</a>
					<a href="{{oneSourceURL}}" target="_blank" id="single-button" type="button" class="btn alertBtn btn-xs" uib-dropdown-toggle="" ng-disabled="disabled">OneSource
							</a>
                    <a href="#News" id="single-button" type="button" class="btn alertBtn btn-xs mt10" uib-dropdown-toggle="" ng-disabled="disabled">Recruiting Trends and Articles
							</a>
					<!--<button id="single-button" type="button" class="btn alertBtn btn-xs mt10" uib-dropdown-toggle="" ng-disabled="disabled">Recruiting Trends and Articles
							</button>-->
					<!-- <a ng-click="openFactivaIframe()">FACTIVA</a><br>
					<a ng-click="openOneSourceIframe()" style="display: block;margin-top: 5px;">OneSource</a>
					<a ng-click="openRecruiterTrendsIframe()" style="display: block;margin-top: 5px;">Recruiting Trends and Articles</a> -->
				</div>
			</div>
        </div>
    </div>
<script type="text/javascript">
		$(function () { $("[data-toggle = 'tooltip']").tooltip(); });
	</script>
	<script>
		 $(function (){
      $("[data-toggle = 'popover']").popover();
   });
	</script>
