<div class="container-fluid claerfix" ng-controller="pdfPopupController as $ctrl">
        <div class="row">
            <div class=".col-md-8 .col-md-offset-2">
                <div ng-include="'partial/_ProfileDesignDoc.html'"></div>
            </div>
        </div>
    
    <script type="text/ng-template" id="modalContent.html">
        <div class="modal-header" style="background-color : #888;">
            <h4 style="float : left;"> BenchMark Profile</h4>
            <a ng-click="$ctrl.cancel()"><i class="fa fa-times" style="float : right; font-size:2.5em;"></i></a>
        </div>
        <div class="modal-body">
            <div style="height: 100vh">
	           <ya-pdf-viewer ya-pdf-url="{{$ctrl.url}}"></ya-pdf-viewer>
            </div>
        </div>
    </script>
</div>