<footer>
    <div class="clearfix">
        <div class="pull-left FooterBox">
            <p>&copy; 2016 Korn Ferry. All Right Reserved.</p>
        </div>
        <div class="pull-right" style="margin-right: 150px;">
            <p style="margin-top: 11px;"><a href="http://ondemand.kf4d.com/kf/support" target="_blank" style="line-height: 20.8px;">Contact Us</a> &nbsp; | &nbsp; &nbsp;<a href="https://s3.amazonaws.com/forte-content/Terms_of_Use_OnDemand.pdf" target="_blank">Terms</a> &nbsp; | &nbsp; &nbsp;<a href="https://cdn.kornferry.com/privacy/en-us/privacy.pdf" target="_blank">Privacy</a> &nbsp; | &nbsp; &nbsp;<a href="https://s3.amazonaws.com/forte-content/Forte3rdPartyCredits.pdf" target="_blank">3rd Party Credits</a></p>
        </div>
    </div>
</footer>
