<header>
    <nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
        <div class="Navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#/"><img src="content/images/KF-Future-Logo.png" class="pull-left" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav" bs-active-link>
                    <li class="NavClose"><a data-toggle="collapse" ng-click="collapse.close()" aria-expanded="false" aria-controls="collapse"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                    <li><a href="#/">Dashboard</a></li>
                    <li><a href="#/ProfileDesign">Profile Design</a></li>
                    <li><a href="#/Engagements">Engagements</a></li>
                    <li><a href="#/Requisitions">Requisitions</a></li>
                    <li><a href="#/Search">Search</a></li>
                    <li class="disabled"><a href="#/News">News & Insights</a></li>
                    <li class="disabled"><a href="#/Reports">Reports</a></li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
        <div class="UserNav" >
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown Notification disabled">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-bell-o"></i>
                        <!--<span class="badge bg-green">6</span>--></a>
                    <!--<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>-->
                </li>
                <li role="presentation" class="dropdown Calendar disabled">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-calendar"></i>
                        <!--<span class="badge bg-green">6</span>--></a>
                    <!--<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="content/images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>Sheldon Cooper</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>-->
                </li>
                <li role="presentation" class="dropdown Help disabled">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-question"></i> </a>
                </li>
                <li class="UserProfile" ng-controller="headerController">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="content/images/user.jpg" alt=""> <span class=" fa fa-angle-down"></span> </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <div class="UserProfileBox">
                                <div class="UserProfileContent">
                                    <div class="UserProfileLang"><span class="IconFlag"><img src="content/images/icon-us-flag.jpg"></span><span class="Lang">English</span></div>
                                    <div class="UserProfileImage"><img src="content/images/user.jpg" alt=""></div>
                                    <div class="UserProfileDetails">
                                        <div class="UserProfileNew">{{name}}</div>
                                        <div class="UserProfileDesignation">{{designation}}</div>
                                        <div class="UserProfileEdit"><!--<a class="disabled" herf="#">--><i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile<!--</a>--></div>
                                    </div>
                                </div>
                                <div class="UserProfileNav">
                                    <div class="ButtonSection ProfileButton">
                                        <button type="submit" class="btn btn-white btn-sm disabled"><i class="fa fa-user" aria-hidden="true"></i> My Profile</button>
                                        <button type="submit" class="btn btn-white btn-sm disabled"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
                                    </div>
                                </div>
                               
                            </div>
                             <div class="UserProfileFooter clearfix"> <a class="pull-right" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a> </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>