<!-- Global Iframe Popup   -->
<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2> </h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body"> <span us-spinner="{radius:10, width:2, length: 4}" iframe></span>
        <iframe ng-src="{{iframeUrl}}" frameborder="0" height="480" width="840"></iframe>
    </div>
</script>
<!--poppup for arya count in saved searches -->
<script type="text/ng-template" id="modalAryaCount.html">
    <div id="searchListCandidateDetails" ng-controller="searchController"> <a href="" class="btn btn-primary btn-sm IframeBtn" id="searchResultBack" ng-click="searchResultBack();"> Back </a>
        <iframe frameborder="0" scrolling="no" style="width:1000px; height:1000px; margin-top:-80px;"></iframe>
        <form id="aryaCount" target="iframe" action="https://iarya.leoforce.com/Arya/" method="post">
            <input type="hidden" name="LoginName" value={{userName}}/>
            <input type="hidden" name="Password" value={{password}}/>
            <input type="hidden" name="btnSubmit" value="Login" />
            <input type="hidden" name="ReturnUrl" value={ {ReturnUrl}}/> </form> <span us-spinner="{radius:10, width:2, length: 4}" iframe></span>
        <iframe ng-src="{{ReturnUrl}}" frameborder="0" height="480" width="840"></iframe>
    </div>
</script>
<!-- Global Document PDF Loader   -->
<script type="text/ng-template" id="Docmodal.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>{{ fileName}}</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div> <span us-spinner="{radius:10, width:2, length: 4}"></span>
            <embed ng-src="{{url}}" type="application/pdf" style="width:100%; height:1000px" />
            <!-- <ya-pdf-viewer ya-pdf-url="{{url}}"></ya-pdf-viewer>-->
        </div>
    </div>
</script>
<!-- Requisition Details Addme Popup   -->
<script type="text/ng-template" id="AddMe.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Add Me</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div>
            <button type="submit" class="btn btn-primary"> Primary Recruiter</button>
            <button type="submit" class="btn btn-primary"> Secondary Recruiter</button>
            <button type="submit" class="btn btn-primary"> Proceed </button>
            <button type="submit" class="btn btn-primary"> Cancel </button>
        </div>
    </div>
</script>
<!-- Global Error Loading Popup   -->
<script type="text/ng-template" id="LoadError.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Loading Error</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div> {{message}} </div>
    </div>
</script>
<!-- Global Pager Set of Record By Record and Total Data  -->
<script type="text/ng-template" id="uibPagerKf.html">
    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}"> <a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('previous')}}</a></li>
    <li class="CurrentPage"><span>{{ page == 1 ? page : page * pager.itemsPerPage - pager.itemsPerPage + 1}} to </span></li>
    <li class="TotalList"><span>{{(page * pager.itemsPerPage) < totalItems ? page * pager.itemsPerPage : totalItems}} of </span></li>
    <li class="TotalPage"><span>{{ totalItems }}</span></li>
    <li ng-class="{disabled: noNext()||ngDisabled, next: align}"><a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('next')}}</a></li>
</script>
<!-- Global Pager Page By Page  -->
<script type="text/ng-template" id="uibPagerPf.html">
    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}"> <a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('previous')}}</a></li>
    <li class="CurrentPage"><span>{{ page }} of </span></li>
    <li class="TotalPage"><span>{{ totalPages }} </span></li>
    <li ng-class="{disabled: noNext()||ngDisabled, next: align}"><a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('next')}}</a></li>
</script>
<!-- Requistion Candidate Detials Requistion link Popover -->
<script type="text/ng-template" id="rcdrpt.html">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Requisition</th>
                        <th>Engagement</th>
                        <th>Recruiter Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody> <span us-spinner="{radius:10, width:2, length: 4}"></span>
                    <tr ng-repeat="row in canReq  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td> <a>{{row.requisitionNumber}}</a>&nbsp{{row.requisitionTitle}} </td>
                        <td>{{row.RequisitionName}}</td>
                        <td>{{row.recruiter}}</td>
                        <td>{{row.stepName}}</td>
                </tbody>
            </table>
        </div>
    </div>
</script>
<!-- Dashboard Foresight Graph Popover -->
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="row">
        <div class='col-md-12'>
            <h2>Requistions</h2>
            <div class='col-md-1 pull-right close-icon'><a ng-click="cancel()"><i class='fa fa-times' aria-hidden='true' ></i></a></div>
        </div>
        <div class='Group' ng-click="open('req');">
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqGoal" type='checkbox'>
                    <label for="reqGoal" class="CheckBoxLable"> Requistion Goal <img class='img-responsive popupImg' src='content/images/requisitionGoal.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqHistory" type='checkbox' />
                    <label for="reqHistory" class="CheckBoxLable"> Requistion History <img class='img-responsive popupImg' src='content/images/requisitionHistory.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqActivity" type='checkbox' />
                    <label for="reqActivity" class="CheckBoxLable"> Requistion Status <img class='img-responsive popupImg' src='content/images/requisitionStatus.png'> </label>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <h2>Candidates</h2> </div>
        <div class='Group' ng-click="open('can');">
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id='canPipeline' type='checkbox' />
                    <label for="canPipeline" class="CheckBoxLable"> Candidate Pipeline <img class='img-responsive popupImg' src='content/images/candidatePipeline.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="canHistory" type='checkbox' />
                    <label for="canHistory" class="CheckBoxLable"> Candidate History <img class='img-responsive popupImg' src='content/images/candidateHistory.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="canSource" type='checkbox' />
                    <label for="canSource" class="CheckBoxLable"> Candidate Source <img class='img-responsive popupImg' src='content/images/candidateSource.png'> </label>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Help and Chat -->
<!-- Start of helpfuturestep Zendesk Widget script -->
<script>
    /*<![CDATA[*/
    window.zEmbed || function (e, t) {
        var n, o, d, i, s, a = []
            , r = document.createElement("iframe");
        window.zEmbed = function () {
            a.push(arguments)
        }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
        try {
            o = s
        }
        catch (e) {
            n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
        }
        o.open()._l = function () {
            var o = this.createElement("script");
            n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
        }, o.write('<body onload="document._l();">'), o.close()
    }("https://assets.zendesk.com/embeddable_framework/main.js", "helpfuturestep.zendesk.com");
    /*]]>*/
</script>
<!-- End of helpfuturestep Zendesk Widget script -->
<script type="text/ng-template" id="pdfDocUpload.html">
    <div class="row">
        <div class="col-md-12">
            <input type="file" file-model="myFile" />
            <button ng-click="uploadFile()">Upload File</button>
        </div>
    </div>
</script>
