<!-- Global Iframe Popup   -->
<script type="text/ng-template" id="modalContent.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2> </h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body"> <span us-spinner="{radius:10, width:2, length: 4}" iframe></span>
        <iframe ng-src="{{iframeUrl}}" frameborder="0" height="480" width="840"></iframe>
    </div>
</script>
<!--poppup for arya count in saved searches -->
<script type="text/ng-template" id="modalAryaCount.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2> </h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <form id="aryaCount" target="iframe2" method="post">
            <input type="hidden" name="LoginName" value="{{userName}}" />
            <input type="hidden" name="Password" value="{{password}}" />
            <input type="hidden" name="btnSubmit" value="Login" />
            <input type="hidden" name="ReturnUrl" value="{{ReturnUrl}}" /> </form> <span us-spinner="{radius:10, width:2, length: 4}" iframe></span>
        <iframe name="iframe2" frameborder="0" scrolling="yes" style="width:845px; height:1000px;"></iframe>
    </div>
</script>
<!-- Global Document PDF Loader   -->
<script type="text/ng-template" id="Docmodal.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>{{ fileName}}</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div> <span us-spinner="{radius:10, width:2, length: 4}"></span>
            <embed ng-src="{{url}}" type="application/pdf" style="width:100%; height:1000px" />
            <!-- <ya-pdf-viewer ya-pdf-url="{{url}}"></ya-pdf-viewer>-->
        </div>
    </div>
</script>
<!-- Requisition Details Addme Popup   -->
<script type="text/ng-template" id="AddMe.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Add Me</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div>
            <button type="submit" class="btn btn-primary"> Primary Recruiter</button>
            <button type="submit" class="btn btn-primary"> Secondary Recruiter</button>
            <button type="submit" class="btn btn-primary"> Proceed </button>
            <button type="submit" class="btn btn-primary"> Cancel </button>
        </div>
    </div>
</script>
<!-- Requisition Details Addme Popup   -->
<script type="text/ng-template" id="AddMe.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Add Me</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div>
            <button type="submit" class="btn btn-primary" ng-click="setRecruiterType($event)" value="Primary Recruiter">Primary Recruiter</button>
            <button type="submit" class="btn btn-primary" ng-click="setRecruiterType($event)" value="Secondary Recruiter">Secondary Recruiter</button>
            <button type="submit" class="btn btn-primary" ng-click="proceed()"> Proceed </button>
            <button type="submit" class="btn btn-primary" ng-click="cancel()"> Cancel </button>
        </div>
    </div>
</script>
<!-- Email Popup template   -->
<script type="text/ng-template" id="emailPopup.html">
    <div class="container-fluid claerfix MarTp15">
        <div class="modal-header Heading2 HeadingFloat clearfix">
            <h2>Send Email</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
        <div class="row MarBt15">
            <div class="col-sm-6 col-md-4 col-lg-4"> <span class="InputText">From :</span>
                <label class="FormLabel OutputLabel">{{data.userMailID}}</label>
            </div>
        </div>
        <div class="row MarBt15">
            <!--  <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
            <label class="FormLabel">Company</label>
            <select id="selectCompany" class="selectpicker form-control" required ng-model='form' ng-options='company as company.name for company in options' ng-change="companySelect(form)">
            </select>
        </div>-->
            <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
                <label class="FormLabel">Template</label>
                <select id="selectTemplate" class="selectpicker form-control" required ng-model='form' ng-options='template as template.name for template in templateOptions' ng-change="templateSelect(form)">
                    <option value="">Please Select</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 FormSelect">
                <label class="FormLabel">Email Profile</label>
                <select id="selectEmailProfile" class="selectpicker form-control" required ng-model='form' ng-options='emailPfl as emailPfl.name for emailPfl in emailProfileOptions' ng-change="emailProfileSelect(form)">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
        <!-- <div class="row MarBt15">
        <div class="col-sm-6 col-md-4 col-lg-4 MarBt15">
            <label class="FormLabel">Add Attachments</label>
            <input name="myFile" type="file" /> </div>
        <div class="col-sm-12 col-md-12 col-lg-12 Attachments">
            <ul>
                <li>Detailed Job Description.docx (200 KB)</li>
                <li>Overview of Company, Organisation Structure, Terms and Policies.pdf (78 KB)</li>
            </ul>
        </div>
    </div>-->
        <div class="row MarBt15">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="FormLabel">Subject</label>
                <input class="input-sm form-control" ng-model="data.subject" type="search"> </div>
        </div>
        <!-- <div class="row MarBt15">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <textarea class="form-control" ng-model="data.contentDescription" style="height:300px; overflow-y:auto;" ></textarea>
        </div>
        </div>-->
        <div class="panel panel-default ViewBox">
            <div class="panel-body" style="height:286px; overflow-y: scroll; ">
                <div text-angular="text-angular" name="htmlcontent" ng-model="data.body"></div>
            </div>
        </div>
        <div class="row MarBt15">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="ButtonSection pull-right">
                    <button ng-click="cancel()" type="Cancel" class="btn btn-default btn-sm">Cancel</button>
                    <button ng-click="sendMail()" type="Save" class="btn btn-primary btn-sm">Send Email</button>
                </div>
            </div>
        </div>
</script>
<!-- Global Error Loading Popup   -->
<script type="text/ng-template" id="LoadError.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Loading Error</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="modal-body">
        <div> {{message}} </div>
    </div>
</script>
<!-- Global Success Popup   -->
<script type="text/ng-template" id="Success.html">
    <div class="modal-header Heading2 HeadingFloat clearfix"> {{message}} <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
</script>
<!-- Global Pager Set of Record By Record and Total Data  -->
<script type="text/ng-template" id="uibPagerKf.html">
    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}"> <a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('previous')}}</a></li>
    <li class="CurrentPage"><span>{{ page == 1 ? page : page * pager.itemsPerPage - pager.itemsPerPage + 1}} to </span></li>
    <li class="TotalList"><span>{{(page * pager.itemsPerPage) < totalItems ? page * pager.itemsPerPage : totalItems}} of </span></li>
    <li class="TotalPage"><span>{{ totalItems }}</span></li>
    <li ng-class="{disabled: noNext()||ngDisabled, next: align}"><a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('next')}}</a></li>
</script>
<!-- Global Pager Page By Page  -->
<script type="text/ng-template" id="uibPagerPf.html">
    <li ng-class="{disabled: noPrevious()||ngDisabled, previous: align}"> <a href ng-click="selectPage(page - 1, $event)" ng-disabled="noPrevious()||ngDisabled" uib-tabindex-toggle>{{::getText('previous')}}</a></li>
    <li class="CurrentPage"><span>{{ page }} of </span></li>
    <li class="TotalPage"><span>{{ totalPages }} </span></li>
    <li ng-class="{disabled: noNext()||ngDisabled, next: align}"><a href ng-click="selectPage(page + 1, $event)" ng-disabled="noNext()||ngDisabled" uib-tabindex-toggle>{{::getText('next')}}</a></li>
</script>
<!-- Requistion Candidate Detials Requistion link Popover -->
<script type="text/ng-template" id="rcdrpt.html">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Requisition</th>
                        <th>Engagement</th>
                        <th>Recruiter Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody> <span us-spinner="{radius:10, width:2, length: 4}"></span>
                    <tr ng-repeat="row in canReq  | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <td> <a>{{row.requisitionNumber}}</a>&nbsp{{row.requisitionTitle}} </td>
                        <td>{{row.RequisitionName}}</td>
                        <td>{{row.recruiter}}</td>
                        <td>{{row.stepName}}</td>
                </tbody>
            </table>
        </div>
    </div>
</script>
<!-- Dashboard Foresight Graph Popover -->
<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="row">
        <div class='col-md-12'>
            <h2>The Graph / Chart</h2>
            <div class='col-md-1 pull-right close-icon'><a ng-click="cancel()"><i class='fa fa-times' aria-hidden='true' ></i></a></div>
        </div>
        <div class='Group' ng-click="open('req');">
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqGoal" type='checkbox'>
                    <label for="reqGoal" class="CheckBoxLable"> Requistion Goal <img class='img-responsive popupImg' src='content/images/requisitionGoal.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqHistory" type='checkbox' />
                    <label for="reqHistory" class="CheckBoxLable"> Requistion History <img class='img-responsive popupImg' src='content/images/requisitionHistory.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="reqActivity" type='checkbox' />
                    <label for="reqActivity" class="CheckBoxLable"> Requistion Status <img class='img-responsive popupImg' src='content/images/requisitionStatus.png'> </label>
                </div>
            </div>
        </div>
        <div class='col-md-12'>
            <h2>Candidates</h2> </div>
        <div class='Group' ng-click="open('can');">
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id='canPipeline' type='checkbox' />
                    <label for="canPipeline" class="CheckBoxLable"> Candidate Pipeline <img class='img-responsive popupImg' src='content/images/candidatePipeline.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="canHistory" type='checkbox' />
                    <label for="canHistory" class="CheckBoxLable"> Candidate History <img class='img-responsive popupImg' src='content/images/candidateHistory.png'> </label>
                </div>
            </div>
            <div class='col-md-4 popupDiv'>
                <div class="FormCheckBox CheckBoxSelect clearfix">
                    <input id="canSource" type='checkbox' />
                    <label for="canSource" class="CheckBoxLable"> Candidate Source <img class='img-responsive popupImg' src='content/images/candidateSource.png'> </label>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Help and Chat -->
<!-- Start of helpfuturestep Zendesk Widget script -->
<script>
    /*<![CDATA[*/
    window.zEmbed || function (e, t) {
        var n, o, d, i, s, a = []
            , r = document.createElement("iframe");
        window.zEmbed = function () {
            a.push(arguments)
        }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
        try {
            o = s
        }
        catch (e) {
            n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
        }
        o.open()._l = function () {
            var o = this.createElement("script");
            n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
        }, o.write('<body onload="document._l();">'), o.close()
    }("https://assets.zendesk.com/embeddable_framework/main.js", "helpfuturestep.zendesk.com");
    /*]]>*/
</script>
<!--popup searcher express-->
<script type="text/ng-template" id="popupSearcher.html">
    <div ng-include="'https://qaapi.se.kornferry.com/Signin/sso?appName=Hexaware&clientSecret=1E14EA379BC34A30823690DD65BF999F&SessionId =asd234'"></div>
</script>
<!-- End of helpfuturestep Zendesk Widget script -->
<script type="text/ng-template" id="pdfDocUpload.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Upload Document</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="row MarBt15 clearfix">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="true">Job Description File</label>
                <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="false">Other File</label>
            </div>
        </div>
    </div>
    <div ng-show="radioModel">
        <div class="row clearfix">
            <div class="col-md-12 MarTp15"> Job Description File :
                <input type="file" file-model="myFile1" name="file1" /> </div>
            <div class="col-md-6 MarTp15">
                <label class="FormLabel"> Please Enter File Name <span class="Mandatory">*</span></label>
                <input type="text" id="pduin" class="form-control" name="filename" placeholder="Please Enter File Name" required/> </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 MarTp15">
                <label class="FormLabel"> Search String <span class="Mandatory">*</span></label>
                <input type="text" id="pduss" class="form-control" name="filename" placeholder="Please Enter Search String" required/> </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 MarTp15">
                <label class="FormLabel">Job Description Text <span class="Mandatory">*</span></label>
                <textarea id="pduJd" class="form-control" style=" height:200px; overflow-y:auto; " placeholder="Please copy and paste document text into this field"></textarea>
            </div>
        </div>
    </div>
    <div ng-hide="radioModel">
        <div class="row clearfix">
            <div class="col-md-12 MarTp15"> Other File :
                <input type="file" file-model="myFile2" name="file2" /> </div>
            <div class="col-md-6 MarTp15">
                <label class="FormLabel"> Please Enter File Name <span class="Mandatory">*</span></label>
                <input type="text" id="pdoin" class="form-control" name="filename" placeholder="Please Enter File Name" required/> </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="ButtonSection pull-right MarTp15 clearfix">
            <button class="btn btn-primary" ng-click="uploadFile()">Upload</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="uploadDocEngDetails.html">
    <div class="modal-header Heading2 HeadingFloat clearfix">
        <h2>Upload Document</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="row clearfix">
        <div class="col-md-12 MarTp15"> Other File :
            <input type="file" file-model="myFile" name="file" /> </div>
        <div class="col-md-6 MarTp15">
            <label class="FormLabel"> Please Enter File Name <span class="Mandatory">*</span></label>
            <input type="text" id="udedfn" class="form-control" name="filename" placeholder="Please Enter File Name" required/> </div>
        <div class="row clearfix">
            <div class="col-md-6 MarTp15">
                <label class="FormLabel"> Search String <span class="Mandatory">*</span></label>
                <input type="text" id="udedss" class="form-control" name="filename" placeholder="Please Enter Search String" required/> </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="ButtonSection pull-right MarTp15 clearfix">
            <button class="btn btn-primary" ng-click="uploadFile()">Upload</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="deleteDocEngDetails.html">
    <div class="Heading2 HeadingFloat clearfix BorderBottom">
        <h2>Delete Documents</h2> <span class="HeaderButton pull-right"><a ng-click="cancel()"><i class="fa fa-times"></i></a></span> </div>
    <div class="row clearfix" ng-hide="present">
        <h4>Please select alteast one File to Delete</h4>
        <div class="ButtonSection pull-right MarTp15 clearfix">
            <button class="btn btn-default" ng-click="cancel()">Got it</button>
        </div>
    </div>
<div class="modal-body">
    <div class="row">
       <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row clearfix" ng-show="present">
                <label class="FormLabel"> Following files will be deleted</label>
             </div>
        </div>
    </div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <ul>
        <li ng-repeat="opt in opts">
            <div class="List">{{opt.name}} </div>
        </li>
    </ul>
 </div>
<div class="row MarTp15">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="ButtonSection pull-right MarTp15 clearfix">
            <button class="btn btn-primary" ng-click="deleteFiles()">Delete</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
</script>
